.theme-light.customColors {
    --primary-100-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 30.20%);
    --primary-130-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 28.04%);
    --primary-160-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 25.49%);
    --primary-200-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 22.55%);
    --primary-230-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 19.61%);
    --primary-260-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 16.27%);
    --primary-300-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 11.37%);
    --primary-330-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 5.88%);
    --primary-345-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 0.00%);
    --primary-360-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 6.27%);
    --primary-400-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 14.51%);
    --primary-430-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 22.55%);
    --primary-460-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 29.41%);
    --primary-500-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 34.90%);
    --primary-530-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 40.20%);
    --primary-560-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 43.92%);
}

.theme-dark.customColors {
    --primary-500-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 11.96%);
    --primary-530-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 6.67%);
    --primary-560-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 2.94%);
    --primary-600-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 0.00%);
    --primary-630-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 2.55%);
    --primary-645-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 3.73%);
    --primary-660-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 5.88%);
    --primary-700-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 8.04%);
    --primary-730-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 9.61%);
    --primary-760-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 11.37%);
    --primary-800-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 13.33%);
    --primary-830-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 15.69%);
    --primary-860-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 18.04%);
    --primary-900-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 19.80%);
}

.visual-refresh.theme-light.customColors {
    --neutral-1-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 1.57%);
    --neutral-2-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 0.00%);
    --neutral-3-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 1.37%);
    --neutral-4-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 2.94%);
    --neutral-5-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 4.51%);
    --neutral-6-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 5.88%);
    --neutral-7-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 7.45%);
    --neutral-8-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 8.82%);
    --neutral-9-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 10.39%);
    --neutral-10-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 11.76%);
    --neutral-11-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 13.14%);
    --neutral-12-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 14.71%);
    --neutral-13-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 16.08%);
    --neutral-14-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 17.65%);
    --neutral-15-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 19.02%);
    --neutral-16-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 20.39%);
    --neutral-17-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 21.76%);
    --neutral-18-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 23.33%);
    --neutral-19-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 24.71%);
    --neutral-20-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 26.27%);
    --neutral-21-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 27.45%);
    --neutral-22-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 29.02%);
    --neutral-23-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 30.39%);
    --neutral-24-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 31.76%);
    --neutral-25-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 33.14%);
    --neutral-26-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 34.71%);
    --neutral-27-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 35.88%);
    --neutral-28-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 37.45%);
    --neutral-29-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 38.82%);
    --neutral-30-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 40.00%);
    --neutral-31-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 41.57%);
    --neutral-32-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 42.74%);
    --neutral-33-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 44.31%);
    --neutral-34-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 45.49%);
    --neutral-35-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 46.86%);
    --neutral-36-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 48.23%);
    --neutral-37-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 49.61%);
    --neutral-38-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 50.78%);
    --neutral-39-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 52.35%);
    --neutral-40-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 53.53%);
    --neutral-41-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 54.90%);
    --neutral-42-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 56.08%);
    --neutral-43-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 57.45%);
    --neutral-44-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 58.82%);
    --neutral-45-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 60.00%);
    --neutral-46-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 61.18%);
    --neutral-47-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 62.74%);
    --neutral-48-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 63.92%);
    --neutral-49-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 65.10%);
    --neutral-50-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 65.10%);
    --neutral-51-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 65.88%);
    --neutral-52-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 66.47%);
    --neutral-53-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 67.06%);
    --neutral-54-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 67.65%);
    --neutral-55-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 68.43%);
    --neutral-56-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 69.22%);
    --neutral-57-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 69.80%);
    --neutral-58-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 70.39%);
    --neutral-59-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 70.98%);
    --neutral-60-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 71.76%);
    --neutral-61-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 72.35%);
    --neutral-62-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 72.94%);
    --neutral-63-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 73.53%);
    --neutral-64-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 74.31%);
    --neutral-65-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 74.71%);
    --neutral-66-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 75.49%);
    --neutral-67-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 76.08%);
    --neutral-68-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 76.86%);
    --neutral-69-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 77.25%);
    --neutral-70-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 78.04%);
    --neutral-71-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 78.63%);
    --neutral-72-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 79.22%);
    --neutral-73-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 79.80%);
    --neutral-74-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 80.39%);
    --neutral-75-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 80.98%);
    --neutral-76-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 81.76%);
    --neutral-77-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 82.16%);
    --neutral-78-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 82.75%);
    --neutral-79-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 83.33%);
    --neutral-80-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 83.92%);
    --neutral-81-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 84.71%);
    --neutral-82-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 85.10%);
    --neutral-83-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 85.69%);
    --neutral-84-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 86.27%);
    --neutral-85-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 86.86%);
    --neutral-86-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 87.45%);
    --neutral-87-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 88.04%);
    --neutral-88-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 88.43%);
    --neutral-89-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 89.22%);
    --neutral-90-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 89.61%);
    --neutral-91-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 90.39%);
    --neutral-92-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 90.98%);
    --neutral-93-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 91.76%);
    --neutral-94-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 92.55%);
    --neutral-95-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 93.33%);
    --neutral-96-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 94.12%);
    --neutral-97-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 95.29%);
    --neutral-98-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 96.27%);
    --neutral-99-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 97.45%);
    --neutral-100-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 98.43%);
}

.visual-refresh.theme-dark.customColors {
    --neutral-1-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 78.82%);
    --neutral-2-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 77.25%);
    --neutral-3-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 75.88%);
    --neutral-4-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 74.31%);
    --neutral-5-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 72.75%);
    --neutral-6-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 71.37%);
    --neutral-7-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 69.80%);
    --neutral-8-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 68.43%);
    --neutral-9-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 66.86%);
    --neutral-10-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 65.49%);
    --neutral-11-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 64.12%);
    --neutral-12-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 62.55%);
    --neutral-13-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 61.18%);
    --neutral-14-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 59.61%);
    --neutral-15-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 58.24%);
    --neutral-16-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 56.86%);
    --neutral-17-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 55.49%);
    --neutral-18-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 53.92%);
    --neutral-19-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 52.55%);
    --neutral-20-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 50.98%);
    --neutral-21-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 49.80%);
    --neutral-22-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 48.24%);
    --neutral-23-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 46.86%);
    --neutral-24-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 45.49%);
    --neutral-25-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 44.12%);
    --neutral-26-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 42.55%);
    --neutral-27-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 41.37%);
    --neutral-28-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 39.80%);
    --neutral-29-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 38.43%);
    --neutral-30-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 37.25%);
    --neutral-31-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 35.69%);
    --neutral-32-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 34.51%);
    --neutral-33-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 32.94%);
    --neutral-34-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 31.77%);
    --neutral-35-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 30.39%);
    --neutral-36-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 29.02%);
    --neutral-37-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 27.65%);
    --neutral-38-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 26.47%);
    --neutral-39-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 24.90%);
    --neutral-40-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 23.73%);
    --neutral-41-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 22.35%);
    --neutral-42-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 21.18%);
    --neutral-43-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 19.80%);
    --neutral-44-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 18.43%);
    --neutral-45-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 17.25%);
    --neutral-46-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 16.08%);
    --neutral-47-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 14.51%);
    --neutral-48-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 13.33%);
    --neutral-49-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 12.16%);
    --neutral-50-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 12.16%);
    --neutral-51-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 11.37%);
    --neutral-52-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 10.79%);
    --neutral-53-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 10.20%);
    --neutral-54-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 9.61%);
    --neutral-55-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 8.82%);
    --neutral-56-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 8.04%);
    --neutral-57-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 7.45%);
    --neutral-58-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 6.86%);
    --neutral-59-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 6.28%);
    --neutral-60-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 5.49%);
    --neutral-61-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 4.90%);
    --neutral-62-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 4.31%);
    --neutral-63-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 3.73%);
    --neutral-64-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 2.94%);
    --neutral-65-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 2.55%);
    --neutral-66-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 1.77%);
    --neutral-67-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 1.18%);
    --neutral-68-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 0.39%);
    --neutral-69-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 0.00%);
    --neutral-70-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 0.78%);
    --neutral-71-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 1.37%);
    --neutral-72-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 1.96%);
    --neutral-73-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 2.55%);
    --neutral-74-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 3.14%);
    --neutral-75-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 3.72%);
    --neutral-76-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 4.51%);
    --neutral-77-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 4.90%);
    --neutral-78-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 5.49%);
    --neutral-79-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 6.08%);
    --neutral-80-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 6.67%);
    --neutral-81-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 7.45%);
    --neutral-82-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 7.84%);
    --neutral-83-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 8.43%);
    --neutral-84-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 9.02%);
    --neutral-85-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 9.61%);
    --neutral-86-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 10.20%);
    --neutral-87-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 10.78%);
    --neutral-88-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 11.18%);
    --neutral-89-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 11.96%);
    --neutral-90-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 12.35%);
    --neutral-91-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 13.14%);
    --neutral-92-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 13.72%);
    --neutral-93-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 14.51%);
    --neutral-94-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 15.29%);
    --neutral-95-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 16.08%);
    --neutral-96-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 16.86%);
    --neutral-97-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 18.04%);
    --neutral-98-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 19.02%);
    --neutral-99-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 20.20%);
    --neutral-100-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 21.18%);
}