.theme-darker {
    --action-sheet-gradient-bg: var(--plum-20);
    --alert-bg: var(--plum-20);
    --background-accent: var(--plum-15);
    --background-floating: var(--plum-18);
    --background-mentioned: hsl(var(--yellow-260-hsl)/0.08);
    --background-mentioned-hover: hsl(var(--yellow-300-hsl)/0.08);
    --background-message-automod: hsl(var(--red-345-hsl)/0.08);
    --background-message-automod-hover: hsl(var(--red-400-hsl)/0.1);
    --background-message-highlight: hsl(var(--brand-360-hsl)/0.08);
    --background-message-highlight-hover: hsl(var(--brand-360-hsl)/0.06);
    --background-message-hover: var(--plum-21);
    --background-mobile-primary: var(--plum-20);
    --background-mobile-secondary: var(--plum-20);
    --background-modifier-accent: hsl(var(--plum-11-hsl)/0.12);
    --background-modifier-active: hsl(var(--plum-13-hsl)/0.48);
    --background-modifier-hover: hsl(var(--plum-13-hsl)/0.3);
    --background-modifier-selected: hsl(var(--plum-13-hsl)/0.6);
    --background-nested-floating: var(--plum-22);
    --background-primary: var(--plum-20);
    --background-secondary: var(--plum-18);
    --background-secondary-alt: var(--plum-15);
    --background-tertiary: var(--plum-16);
    --bg-backdrop: hsl(var(--black-hsl)/0.7);
    --bg-backdrop-immersive: hsl(var(--black-hsl)/0.85);
    --bg-backdrop-no-opacity: var(--black);
    --bg-base-primary: var(--plum-20);
    --bg-base-secondary: var(--plum-20);
    --bg-base-tertiary: var(--plum-23);
    --bg-brand: var(--brand-500);
    --bg-mod-faint: hsl(var(--plum-11-hsl)/0.12);
    --bg-mod-strong: hsl(var(--plum-11-hsl)/0.24);
    --bg-mod-subtle: hsl(var(--plum-11-hsl)/0.16);
    --bg-modal-gradient-green-end: hsl(var(--bg-modal-gradient-green-dark-2-hsl)/0.3);
    --bg-modal-gradient-green-start: hsl(var(--bg-modal-gradient-green-dark-1-hsl)/0.3);
    --bg-modal-gradient-lavender-end: hsl(var(--bg-modal-gradient-lavender-dark-2-hsl)/0.3);
    --bg-modal-gradient-lavender-start: hsl(var(--bg-modal-gradient-lavender-dark-1-hsl)/0.3);
    --bg-modal-gradient-magenta-end: hsl(var(--bg-modal-gradient-magenta-dark-2-hsl)/0.3);
    --bg-modal-gradient-magenta-start: hsl(var(--bg-modal-gradient-magenta-dark-1-hsl)/0.3);
    --bg-modal-gradient-navy-end: hsl(var(--bg-modal-gradient-navy-dark-2-hsl)/0.3);
    --bg-modal-gradient-navy-start: hsl(var(--bg-modal-gradient-navy-dark-1-hsl)/0.3);
    --bg-surface-overlay: var(--plum-17);
    --bg-surface-overlay-tmp: var(--plum-17);
    --bg-surface-raised: var(--plum-18);
    --bg-tile-gradient-magenta-end: hsl(var(--bg-modal-gradient-magenta-dark-2-hsl)/0.3);
    --bg-tile-gradient-magenta-start: hsl(var(--bg-modal-gradient-magenta-dark-1-hsl)/0.3);
    --blur-fallback: hsl(var(--plum-17-hsl)/0.96);
    --blur-fallback-pressed: hsl(var(--plum-18-hsl)/0.96);
    --border-faint: hsl(var(--plum-11-hsl)/0.06);
    --border-strong: hsl(var(--plum-11-hsl)/0.22);
    --border-subtle: hsl(var(--plum-11-hsl)/0.12);
    --button-creator-revenue-background: var(--teal-430);
    --button-danger-background: var(--red-430);
    --button-danger-background-active: var(--red-530);
    --button-danger-background-disabled: var(--red-430);
    --button-danger-background-hover: var(--red-500);
    --button-danger-border: hsl(var(--white-500-hsl)/0);
    --button-filled-brand-background: var(--brand-500);
    --button-filled-brand-background-active: var(--brand-600);
    --button-filled-brand-background-hover: var(--brand-560);
    --button-filled-brand-border: hsl(var(--white-500-hsl)/0);
    --button-filled-brand-inverted-background: var(--white);
    --button-filled-brand-inverted-background-active: var(--brand-200);
    --button-filled-brand-inverted-background-hover: var(--brand-100);
    --button-filled-brand-inverted-text: var(--brand-500);
    --button-filled-brand-text: var(--white);
    --button-filled-white-background: var(--white-500);
    --button-filled-white-background-active: var(--white-500);
    --button-filled-white-background-hover: var(--white-500);
    --button-filled-white-text: var(--primary-500);
    --button-outline-brand-background: hsl(var(--white-hsl)/0);
    --button-outline-brand-background-active: var(--brand-560);
    --button-outline-brand-background-hover: var(--brand-500);
    --button-outline-brand-border: var(--brand-500);
    --button-outline-brand-border-active: var(--brand-560);
    --button-outline-brand-border-hover: var(--brand-500);
    --button-outline-brand-text: var(--white);
    --button-outline-brand-text-active: var(--white);
    --button-outline-brand-text-hover: var(--white);
    --button-outline-danger-background: hsl(var(--white-hsl)/0);
    --button-outline-danger-background-active: var(--red-460);
    --button-outline-danger-background-hover: var(--red-430);
    --button-outline-danger-border: var(--red-400);
    --button-outline-danger-border-active: var(--red-430);
    --button-outline-danger-border-hover: var(--red-430);
    --button-outline-danger-text: var(--white);
    --button-outline-danger-text-active: var(--white);
    --button-outline-danger-text-hover: var(--white);
    --button-outline-positive-background: hsl(var(--white-hsl)/0);
    --button-outline-positive-background-active: var(--green-530);
    --button-outline-positive-background-hover: var(--green-430);
    --button-outline-positive-border: var(--green-360);
    --button-outline-positive-border-active: var(--green-530);
    --button-outline-positive-border-hover: var(--green-430);
    --button-outline-positive-text: var(--white);
    --button-outline-positive-text-active: var(--white);
    --button-outline-positive-text-hover: var(--white);
    --button-outline-primary-background: hsl(var(--white-hsl)/0);
    --button-outline-primary-background-active: var(--plum-11);
    --button-outline-primary-background-hover: var(--plum-13);
    --button-outline-primary-border: var(--primary-500);
    --button-outline-primary-border-active: var(--plum-11);
    --button-outline-primary-border-hover: var(--plum-13);
    --button-outline-primary-text: var(--white);
    --button-outline-primary-text-active: var(--white);
    --button-outline-primary-text-hover: var(--white);
    --button-positive-background: var(--green-430);
    --button-positive-background-active: var(--green-530);
    --button-positive-background-disabled: var(--green-430);
    --button-positive-background-hover: var(--green-500);
    --button-positive-border: hsl(var(--white-500-hsl)/0);
    --button-secondary-background: var(--plum-13);
    --button-secondary-background-active: var(--plum-10);
    --button-secondary-background-disabled: var(--plum-13);
    --button-secondary-background-hover: var(--plum-11);
    --button-secondary-text: var(--white-500);
    --button-transparent-background: hsl(var(--white-500-hsl)/0.1);
    --button-transparent-background-active: hsl(var(--white-500-hsl)/0.01);
    --button-transparent-background-hover: hsl(var(--white-500-hsl)/0.05);
    --button-transparent-text: var(--plum-3);
    --card-gradient-bg: hsl(var(--black-hsl)/0.4);
    --card-gradient-pressed-bg: hsl(var(--black-hsl)/0.5);
    --card-primary-bg: var(--plum-18);
    --card-primary-pressed-bg: var(--plum-19);
    --card-secondary-bg: var(--plum-19);
    --card-secondary-pressed-bg: var(--plum-21);
    --channeltextarea-background: var(--plum-15);
    --chat-background: var(--plum-16);
    --chat-banner-bg: var(--plum-20);
    --chat-border: var(--plum-20);
    --chat-input-container-background: var(--plum-16);
    --chat-swipe-to-reply-background: var(--plum-22);
    --chat-swipe-to-reply-gradient-background: hsl(var(--black-hsl)/0.1);
    --coachmark-bg: var(--plum-17);
    --custom-status-bubble-bg: var(--plum-17);
    --divider-strong: hsl(var(--plum-11-hsl)/0.22);
    --embed-background: var(--plum-18);
    --embed-background-alternate: var(--primary-600);
    --embed-title: var(--plum-3);
    --expression-picker-bg: var(--plum-20);
    --header-primary: var(--plum-3);
    --header-secondary: var(--plum-9);
    --icon-muted: var(--plum-11);
    --icon-primary: var(--plum-4);
    --input-background: hsl(var(--plum-24-hsl)/0.85);
    --input-border: hsl(var(--plum-11-hsl)/0.32);
    --input-error-background: hsl(var(--red-500-hsl)/0.12);
    --input-error-border: var(--red-360);
    --input-error-text: var(--red-260);
    --input-focused-border: hsl(var(--plum-11-hsl)/0.32);
    --input-placeholder-text: var(--plum-10);
    --interactive-active: var(--plum-1);
    --panel-bg: var(--plum-20);
    --redesign-activity-card-badge-icon: var(--plum-10);
    --redesign-button-active-background: var(--green-430);
    --redesign-button-active-pressed-background: var(--green-460);
    --redesign-button-active-text: var(--white);
    --redesign-button-danger-background: var(--red-430);
    --redesign-button-danger-pressed-background: var(--red-460);
    --redesign-button-danger-text: var(--white);
    --redesign-button-destructive-background: var(--red-430);
    --redesign-button-destructive-pressed-background: var(--red-460);
    --redesign-button-destructive-text: var(--white);
    --redesign-button-overlay-alpha-background: hsl(var(--black-hsl)/0.54);
    --redesign-button-overlay-alpha-pressed-background: hsl(var(--black-hsl)/0.64);
    --redesign-button-overlay-alpha-text: var(--white);
    --redesign-button-overlay-background: var(--white);
    --redesign-button-overlay-text: var(--primary-860);
    --redesign-button-positive-background: var(--green-430);
    --redesign-button-positive-pressed-background: var(--green-460);
    --redesign-button-positive-text: var(--white);
    --redesign-button-premium-primary-blue-for-gradient: var(--premium-tier-0-blue-for-gradients-2);
    --redesign-button-premium-primary-pink-for-gradient: var(--premium-tier-2-pink-for-gradients);
    --redesign-button-premium-primary-pressed-background: hsl(var(--black-hsl)/0.1);
    --redesign-button-premium-primary-purple-for-gradient: var(--premium-tier-2-purple-for-gradients);
    --redesign-button-premium-primary-purple-for-gradient-2: var(--premium-tier-2-purple-for-gradients-2);
    --redesign-button-primary-alt-background: hsl(var(--brand-500-hsl)/0);
    --redesign-button-primary-alt-border: var(--brand-360);
    --redesign-button-primary-alt-on-blurple-background: hsl(var(--brand-530-hsl)/0);
    --redesign-button-primary-alt-on-blurple-border: var(--white);
    --redesign-button-primary-alt-on-blurple-pressed-background: var(--brand-530);
    --redesign-button-primary-alt-on-blurple-pressed-border: var(--brand-360);
    --redesign-button-primary-alt-on-blurple-text: var(--white);
    --redesign-button-primary-alt-pressed-background: hsl(var(--brand-700-hsl)/0.16);
    --redesign-button-primary-alt-pressed-border: hsl(var(--brand-400-hsl)/0.5);
    --redesign-button-primary-alt-pressed-text: var(--brand-360);
    --redesign-button-primary-alt-text: var(--brand-360);
    --redesign-button-primary-background: var(--brand-500);
    --redesign-button-primary-on-blurple-pressed-text: var(--brand-530);
    --redesign-button-primary-overlay-background: var(--white);
    --redesign-button-primary-overlay-pressed-background: var(--plum-4);
    --redesign-button-primary-overlay-text: var(--plum-25);
    --redesign-button-primary-pressed-background: var(--brand-560);
    --redesign-button-primary-text: var(--white);
    --redesign-button-secondary-background: var(--plum-15);
    --redesign-button-secondary-border: hsl(var(--plum-11-hsl)/0.12);
    --redesign-button-secondary-overlay-background: hsl(var(--black-hsl)/0.54);
    --redesign-button-secondary-overlay-pressed-background: hsl(var(--black-hsl)/0.64);
    --redesign-button-secondary-overlay-text: var(--white);
    --redesign-button-secondary-pressed-background: var(--plum-13);
    --redesign-button-secondary-pressed-border: hsl(var(--plum-11-hsl)/0.06);
    --redesign-button-secondary-text: var(--plum-6);
    --redesign-button-selected-background: hsl(var(--brand-500-hsl)/0.24);
    --redesign-button-selected-pressed-background: hsl(var(--brand-500-hsl)/0.28);
    --redesign-button-selected-text: var(--brand-500);
    --redesign-button-tertiary-background: hsl(var(--plum-11-hsl)/0.12);
    --redesign-button-tertiary-pressed-background: hsl(var(--plum-11-hsl)/0.2);
    --redesign-button-tertiary-pressed-text: var(--plum-5);
    --redesign-button-tertiary-text: var(--plum-6);
    --redesign-channel-name-muted-text: var(--plum-10);
    --redesign-channel-name-text: var(--plum-3);
    --redesign-chat-input-background: hsl(var(--plum-11-hsl)/0.12);
    --redesign-image-button-pressed-background: hsl(var(--black-hsl)/0.08);
    --redesign-input-control-active-bg: var(--plum-16);
    --redesign-input-control-selected: var(--brand-500);
    --scrollbar-auto-scrollbar-color-thumb: var(--plum-21);
    --scrollbar-auto-scrollbar-color-track: var(--plum-17);
    --scrollbar-auto-thumb: var(--plum-21);
    --scrollbar-auto-track: var(--plum-19);
    --scrollbar-thin-thumb: var(--plum-21);
    --scrollbar-thin-track: hsl(var(--black-hsl)/0);
    --stage-card-pill-bg: var(--plum-19);
    --text-brand: var(--brand-360);
    --text-danger: var(--red-345);
    --text-link: var(--blue-345);
    --text-link-low-saturation: var(--blue-330);
    --text-low-contrast: var(--plum-11);
    --text-message-preview-low-sat: var(--plum-11);
    --text-muted: var(--plum-10);
    --text-muted-on-default: var(--primary-330);
    --text-normal: var(--plum-6);
    --text-positive: var(--green-330);
    --text-primary: var(--plum-6);
    --text-secondary: var(--plum-9);
    --text-warning: var(--yellow-300);
    --toast-bg: var(--plum-17);
    --typing-indicator-bg: var(--plum-20)
    --activity-card-background: var(--primary-700);
    --activity-card-icon-overlay: hsl(var(--primary-600-hsl)/0.85);
    --android-navigation-bar-background: var(--plum-24);
    --android-navigation-scrim-background: hsl(var(--plum-24-hsl)/0.5);
    --android-ripple: hsl(var(--white-hsl)/0.07);
    --autocomplete-bg: var(--primary-630);
    --badge-brand-bg: var(--brand-260);
    --badge-brand-text: var(--brand-560);
    --bug-reporter-modal-submitting-background: hsl(var(--plum-23-hsl)/0.6);
    --channel-icon: var(--plum-10);
    --channel-text-area-placeholder: var(--plum-11);
    --channels-default: var(--plum-9);
    --content-inventory-media-seekbar-container: hsl(var(--plum-6-hsl)/0.24);
    --content-inventory-overlay-text-primary: hsl(var(--white-hsl)/0.85);
    --content-inventory-overlay-text-secondary: hsl(var(--white-hsl)/0.7);
    --content-inventory-overlay-ui-mod: hsl(var(--white-hsl)/0.7);
    --content-inventory-overlay-ui-mod-bg: hsl(var(--black-hsl)/0.1);
    --context-menu-backdrop-background: hsl(var(--black-hsl)/0.7);
    --control-brand-foreground: var(--brand-360);
    --control-brand-foreground-new: var(--brand-360);
    --creator-revenue-icon-gradient-end: var(--teal-430);
    --creator-revenue-icon-gradient-start: var(--teal-360);
    --creator-revenue-info-box-background: hsl(var(--teal-430-hsl)/0.1);
    --creator-revenue-info-box-border: var(--teal-400);
    --creator-revenue-locked-channel-icon: var(--teal-345);
    --creator-revenue-progress-bar: var(--teal-400);
    --deprecated-card-bg: hsl(var(--primary-700-hsl)/0.6);
    --deprecated-card-editable-bg: hsl(var(--primary-700-hsl)/0.3);
    --deprecated-text-input-bg: var(--primary-700);
    --deprecated-text-input-border: hsl(var(--black-hsl)/0.3);
    --deprecated-text-input-border-disabled: var(--primary-700);
    --deprecated-text-input-border-hover: var(--primary-900);
    --display-banner-overflow-background: hsl(var(--plum-20-hsl)/0.5);
    --divider-subtle: hsl(var(--plum-11-hsl)/0.12);
    --focus-primary: var(--blue-345);
    --forum-post-extra-media-count-container-background: hsl(var(--plum-19-hsl)/0.8);
    --forum-post-tag-background: hsl(var(--plum-19-hsl)/0.9);
    --guild-notifications-bottom-sheet-pill-background: var(--primary-700);
    --header-muted: var(--plum-10);
    --home-background: var(--plum-18);
    --icon-secondary: var(--plum-9);
    --icon-transparent: hsl(var(--transparent-hsl)/0);
    --info-box-background: hsl(var(--blue-345-hsl)/0.1);
    --info-danger-background: hsl(var(--red-400-hsl)/0.1);
    --info-danger-foreground: var(--red-400);
    --info-danger-text: var(--white);
    --info-help-background: hsl(var(--blue-345-hsl)/0.1);
    --info-help-foreground: var(--blue-345);
    --info-help-text: var(--white);
    --info-positive-background: hsl(var(--green-360-hsl)/0.1);
    --info-positive-foreground: var(--green-360);
    --info-positive-text: var(--white);
    --info-warning-background: hsl(var(--yellow-300-hsl)/0.1);
    --info-warning-foreground: var(--yellow-300);
    --info-warning-text: var(--white);
    --interactive-hover: var(--plum-4);
    --interactive-muted: var(--plum-13);
    --interactive-normal: var(--plum-6);
    --leaderboard-league-brand-text: var(--lol-text-light);
    --legacy-android-blur-overlay-default: hsl(var(--primary-660-hsl)/0.5);
    --legacy-android-blur-overlay-ultra-thin: hsl(var(--black-hsl)/0.025);
    --legacy-blur-fallback-default: hsl(var(--primary-660-hsl)/0.975);
    --legacy-blur-fallback-ultra-thin: hsl(var(--black-hsl)/0.95);
    --live-stage-tile-border: hsl(var(--plum-13-hsl)/0.6);
    --logo-primary: var(--white);
    --mention-background: hsl(var(--brand-500-hsl)/0.5);
    --mention-foreground: var(--brand-230);
    --menu-item-danger-active-bg: var(--red-530);
    --menu-item-danger-hover-bg: var(--red-430);
    --menu-item-default-active-bg: var(--brand-560);
    --menu-item-default-hover-bg: var(--brand-500);
    --message-reacted-background: hsl(var(--brand-500-hsl)/0.15);
    --message-reacted-text: var(--brand-200);
    --modal-background: var(--plum-16);
    --modal-footer-background: var(--plum-17);
    --navigator-header-tint: var(--white);
    --overlay-backdrop-default: hsl(var(--opacity-black-72-hsl)/0.7215686274509804);
    --overlay-backdrop-lightbox: hsl(var(--opacity-black-92-hsl)/0.9215686274509803);
    --polls-normal-fill-hover: var(--primary-600);
    --polls-normal-image-background: var(--primary-660);
    --polls-victor-fill: hsl(var(--green-360-hsl)/0.2);
    --polls-voted-fill: hsl(var(--brand-500-hsl)/0.2);
    --premium-nitro-pink-text: var(--premium-nitro-pink-light);
    --profile-gradient-message-input-border: hsl(var(--primary-500-hsl)/0.48);
    --profile-gradient-note-background: hsl(var(--black-hsl)/0.3);
    --profile-gradient-overlay: hsl(var(--black-hsl)/0.6);
    --profile-gradient-overlay-synced-with-user-theme: hsl(var(--black-hsl)/0.8);
    --profile-gradient-profile-body-background-hover: hsl(var(--white-hsl)/0.16);
    --profile-gradient-role-pill-background: hsl(var(--primary-660-hsl)/0.5);
    --profile-gradient-role-pill-border: hsl(var(--white-hsl)/0.2);
    --profile-gradient-section-box: hsl(var(--black-hsl)/0.45);
    --spine-default: var(--plum-13);
    --spoiler-hidden-background: var(--plum-14);
    --spoiler-revealed-background: hsl(var(--plum-11-hsl)/0.16);
    --status-danger: var(--red-400);
    --status-danger-background: var(--red-430);
    --status-danger-text: var(--white);
    --status-dnd: var(--red-400);
    --status-idle: var(--yellow-300);
    --status-offline: var(--plum-9);
    --status-online: var(--green-360);
    --status-positive: var(--green-360);
    --status-positive-background: var(--green-430);
    --status-positive-text: var(--white);
    --status-speaking: var(--green-360);
    --status-warning: var(--yellow-300);
    --status-warning-background: var(--yellow-300);
    --status-warning-text: var(--black);
    --textbox-markdown-syntax: var(--plum-9);
    --theme-locked-blur-fallback: hsl(var(--primary-700-hsl)/0.96);
    --thread-channel-spine: var(--plum-13);
    --user-profile-header-overflow-background: hsl(var(--plum-20-hsl)/0.5);
    --voice-video-video-tile-background: hsl(var(--plum-17-hsl)/0.4);
    --voice-video-video-tile-blur-fallback: hsl(var(--primary-700-hsl)/0.48)
}