.visual-refresh.theme-midnight {
    --card-secondary-bg: hsl(var(--opacity-12-hsl)/0.12156862745098039);
    --info-danger-background: hsl(var(--opacity-red-8-hsl)/0.0784313725490196);
    --info-help-background: hsl(var(--opacity-blue-8-hsl)/0.0784313725490196);
    --info-positive-background: hsl(var(--opacity-green-8-hsl)/0.0784313725490196);
    --info-warning-background: hsl(var(--opacity-yellow-8-hsl)/0.0784313725490196);
    --mention-background: hsl(var(--opacity-blurple-24-hsl)/0.23921568627450981);
    --message-reacted-background: hsl(var(--opacity-blurple-24-hsl)/0.23921568627450981);
    --checkbox-background-checked: var(--blurple-50);
    --checkbox-background-default: hsl(var(--opacity-4-hsl)/0.0392156862745098);
    --checkbox-border-checked: var(--blurple-50);
    --activity-card-background: var(--neutral-91);
    --autocomplete-bg: var(--neutral-91);
    --background-floating: var(--neutral-91);
    --background-mentioned: hsl(var(--opacity-yellow-8-hsl)/0.0784313725490196);
    --background-mentioned-hover: hsl(var(--opacity-yellow-4-hsl)/0.0392156862745098);
    --background-message-highlight: hsl(var(--opacity-blurple-16-hsl)/0.1607843137254902);
    --background-message-highlight-hover: hsl(var(--opacity-blurple-12-hsl)/0.12156862745098039);
    --background-message-hover: hsl(var(--opacity-8-hsl)/0.0784313725490196);
    --background-modifier-accent: hsl(var(--opacity-24-hsl)/0.23921568627450981);
    --background-modifier-active: hsl(var(--opacity-20-hsl)/0.2);
    --background-modifier-hover: hsl(var(--opacity-12-hsl)/0.12156862745098039);
    --background-modifier-selected: hsl(var(--opacity-28-hsl)/0.2784313725490196);
    --background-primary: var(--neutral-95);
    --background-secondary: var(--neutral-97);
    --background-tertiary: var(--neutral-100);
    --bg-base-primary: var(--neutral-95);
    --bg-base-secondary: var(--neutral-97);
    --bg-base-tertiary: var(--neutral-100);
    --bg-brand: var(--blurple-50);
    --bg-mod-faint: hsl(var(--opacity-8-hsl)/0.0784313725490196);
    --bg-mod-strong: hsl(var(--opacity-28-hsl)/0.2784313725490196);
    --bg-mod-subtle: hsl(var(--opacity-12-hsl)/0.12156862745098039);
    --border-faint: hsl(var(--opacity-16-hsl)/0.1607843137254902);
    --border-strong: hsl(var(--opacity-44-hsl)/0.4392156862745098);
    --border-subtle: hsl(var(--opacity-24-hsl)/0.23921568627450981);
    --card-primary-bg: var(--neutral-91);
    --channel-icon: var(--neutral-27);
    --channels-default: var(--neutral-33);
    --header-muted: var(--neutral-33);
    --header-primary: var(--neutral-7);
    --header-secondary: var(--neutral-10);
    --icon-muted: var(--neutral-33);
    --icon-primary: var(--neutral-14);
    --icon-secondary: var(--neutral-27);
    --info-danger-text: var(--red-new-37);
    --info-help-text: var(--blue-new-40);
    --info-positive-text: var(--green-new-39);
    --info-warning-text: var(--yellow-new-38);
    --input-background: hsl(var(--opacity-black-8-hsl)/0.0784313725490196);
    --input-border: hsl(var(--opacity-32-hsl)/0.3215686274509804);
    --input-placeholder-text: var(--neutral-38);
    --interactive-active: var(--neutral-7);
    --interactive-hover: var(--neutral-27);
    --interactive-normal: var(--neutral-27);
    --mention-foreground: var(--blurple-26);
    --message-reacted-text: var(--blurple-21);
    --modal-background: var(--neutral-91);
    --modal-footer-background: var(--neutral-91);
    --scrollbar-auto-scrollbar-color-thumb: var(--neutral-45);
    --scrollbar-auto-scrollbar-color-track: var(--neutral-98);
    --scrollbar-auto-thumb: var(--neutral-45);
    --scrollbar-auto-track: hsl(var(--transparent-hsl)/0);
    --scrollbar-thin-thumb: var(--neutral-46);
    --text-brand: var(--blurple-41);
    --text-link: var(--blue-new-42);
    --text-muted: var(--neutral-33);
    --text-normal: var(--neutral-10);
    --text-positive: var(--green-new-39);
    --text-primary: var(--neutral-7);
    --text-secondary: var(--neutral-27);
    --text-warning: var(--yellow-new-38);
    --app-border-frame: hsl(var(--opacity-24-hsl)/0.23921568627450981);
    --background-base-low: var(--neutral-95);
    --background-base-lower: var(--neutral-97);
    --background-base-lowest: var(--neutral-100);
    --background-code: hsl(var(--opacity-blurple-8-hsl)/0.0784313725490196);
    --background-code-addition: hsl(var(--opacity-green-12-hsl)/0.12156862745098039);
    --background-code-deletion: hsl(var(--opacity-red-12-hsl)/0.12156862745098039);
    --background-feedback-critical: hsl(var(--opacity-red-8-hsl)/0.0784313725490196);
    --background-feedback-info: hsl(var(--opacity-blue-8-hsl)/0.0784313725490196);
    --background-feedback-positive: hsl(var(--opacity-green-8-hsl)/0.0784313725490196);
    --background-feedback-warning: hsl(var(--opacity-yellow-8-hsl)/0.0784313725490196);
    --background-mod-faint: hsl(var(--opacity-8-hsl)/0.0784313725490196);
    --background-mod-normal: hsl(var(--opacity-20-hsl)/0.2);
    --background-mod-strong: hsl(var(--opacity-28-hsl)/0.2784313725490196);
    --background-mod-subtle: hsl(var(--opacity-12-hsl)/0.12156862745098039);
    --background-surface-high: var(--neutral-91);
    --background-surface-higher: var(--neutral-87);
    --background-surface-highest: var(--neutral-83);
    --border-feedback-critical: hsl(var(--opacity-red-24-hsl)/0.23921568627450981);
    --border-normal: hsl(var(--opacity-32-hsl)/0.3215686274509804);
    --chat-background-default: var(--neutral-92);
    --checkbox-border-default: var(--neutral-43);
    --icon-default: var(--neutral-14);
    --icon-tertiary: var(--neutral-33);
    --notice-background-critical: var(--red-new-94);
    --notice-background-info: var(--blue-new-94);
    --notice-background-positive: var(--green-new-94);
    --notice-background-warning: var(--yellow-new-94);
    --notice-text-critical: var(--red-new-17);
    --notice-text-info: var(--blue-new-19);
    --notice-text-positive: var(--green-new-20);
    --notice-text-warning: var(--yellow-new-18);
    --text-code-addition: var(--green-new-27);
    --text-code-builtin: var(--orange-new-26);
    --text-code-bullet: var(--yellow-new-26);
    --text-code-comment: var(--neutral-36);
    --text-code-default: var(--blue-new-28);
    --text-code-deletion: var(--red-new-24);
    --text-code-keyword: var(--red-new-25);
    --text-code-section: var(--blue-new-28);
    --text-code-string: var(--teal-new-28);
    --text-code-tag: var(--green-new-28);
    --text-code-title: var(--blurple-27);
    --text-code-variable: var(--blue-new-28);
    --text-default: var(--neutral-10);
    --text-feedback-critical: var(--red-new-37);
    --text-feedback-info: var(--blue-new-40);
    --text-feedback-positive: var(--green-new-39);
    --text-feedback-warning: var(--yellow-new-38);
    --text-tertiary: var(--neutral-33);
    --button-danger-background: var(--red-new-50);
    --button-danger-background-active: var(--red-new-61);
    --button-danger-background-disabled: var(--red-new-50);
    --button-danger-background-hover: var(--red-new-57);
    --button-danger-border: hsl(var(--opacity-white-8-hsl)/0.0784313725490196);
    --button-filled-brand-border: hsl(var(--opacity-white-8-hsl)/0.0784313725490196);
    --button-filled-brand-inverted-background-active: var(--neutral-17);
    --button-filled-brand-inverted-background-hover: var(--neutral-9);
    --button-filled-brand-inverted-text: var(--black);
    --button-filled-white-background-active: var(--neutral-17);
    --button-filled-white-background-hover: var(--neutral-9);
    --button-filled-white-text: var(--black);
    --button-outline-danger-background: hsl(var(--opacity-12-hsl)/0.12156862745098039);
    --button-outline-danger-background-active: hsl(var(--primary-500-hsl)/0.3);
    --button-outline-danger-background-hover: hsl(var(--opacity-20-hsl)/0.2);
    --button-outline-danger-border: hsl(var(--opacity-4-hsl)/0.0392156862745098);
    --button-outline-danger-border-active: hsl(var(--opacity-4-hsl)/0.0392156862745098);
    --button-outline-danger-border-hover: hsl(var(--opacity-4-hsl)/0.0392156862745098);
    --button-outline-danger-text: var(--red-345);
    --button-outline-danger-text-active: var(--red-345);
    --button-outline-danger-text-hover: var(--red-345);
    --button-positive-background: var(--green-new-50);
    --button-positive-background-active: var(--green-new-57);
    --button-positive-background-disabled: var(--green-new-50);
    --button-positive-background-hover: var(--green-new-53);
    --button-positive-border: hsl(var(--opacity-white-8-hsl)/0.0784313725490196);
    --button-secondary-background: hsl(var(--opacity-12-hsl)/0.12156862745098039);
    --button-secondary-background-active: hsl(var(--primary-500-hsl)/0.3);
    --button-secondary-background-disabled: hsl(var(--opacity-12-hsl)/0.12156862745098039);
    --button-secondary-background-hover: hsl(var(--opacity-20-hsl)/0.2);
    --button-secondary-text: var(--neutral-6);
    --button-transparent-background: hsl(var(--opacity-12-hsl)/0.12156862745098039);
    --button-transparent-background-active: hsl(var(--primary-500-hsl)/0.3);
    --button-transparent-background-hover: hsl(var(--opacity-20-hsl)/0.2);
    --button-transparent-text: var(--neutral-6);
    --spine-default: hsl(var(--opacity-44-hsl)/0.4392156862745098);
}