.theme-light {
  --white: var(--text-normal);
  --white-2: hsl(var(--white-hsl)/1);
  --brightness: calc(0.5 + var(--saturation-factor, 1)*0.5);
  --contrast: var(--saturation-factor, 1);
  --button--underline-color: var(--primary-400);
  --button--underline-color: var(--primary-400);
  --__spoiler-background-color--hidden: var(--primary-300);
  --__spoiler-background-color--hidden--hover: hsl(var(--primary-300-hsl)/0.8);
  --__spoiler-background-color--revealed: hsl(var(--black-500-hsl)/0.1);
  --__spoiler-text-color--hidden: transparent;
  --__spoiler-warning-text-color: var(--primary-200);
  --__spoiler-warning-text-color--hover: var(--white-500);
  --__spoiler-warning-background-color: hsl(var(--black-500-hsl)/0.6);
  --__spoiler-warning-background-color--hover: hsl(var(--black-500-hsl)/0.9);
  --__spoiler-container-box-shadow-color: hsl(var(--black-500-hsl)/0.1);
  --custom-confetti-color-1: #313338;
  --custom-confetti-color-2: #db7628;
  --custom-confetti-color-3: #b473f5;
  --custom-confetti-color-4: #248da1;
  --custom-status-bubble-overlay-color: 0 0 0;
  --badge-brand-bg: var(--brand-260);
  --badge-brand-text: var(--brand-560);
  --content-inventory-media-seekbar-container: hsl(var(--plum-6-hsl)/0.24);
  --content-inventory-overlay-text-primary: hsl(var(--white-hsl)/0.85);
  --content-inventory-overlay-text-secondary: hsl(var(--white-hsl)/0.7);
  --content-inventory-overlay-ui-mod: hsl(var(--white-hsl)/0.7);
  --content-inventory-overlay-ui-mod-bg: hsl(var(--black-hsl)/0.1);
  --icon-muted: var(--primary-400);
  --icon-transparent: hsl(var(--transparent-hsl)/0);
  --info-box-background: hsl(var(--blue-345-hsl)/0.1);
  --menu-item-danger-active-bg: var(--red-530);
  --menu-item-danger-hover-bg: var(--red-430);
  --menu-item-default-active-bg: var(--brand-560);
  --menu-item-default-hover-bg: var(--brand-500);
  --message-reacted-background: hsl(var(--brand-500-hsl)/0.15);
  --overlay-backdrop-lightbox: hsl(var(--opacity-black-92-hsl)/0.9215686274509803);
  --theme-locked-blur-fallback: hsl(var(--primary-700-hsl)/0.96);
  --voice-video-video-tile-background: hsl(var(--plum-17-hsl)/0.4);
  --voice-video-video-tile-blur-fallback: hsl(var(--primary-700-hsl)/0.48);
  --action-sheet-gradient-bg: var(--primary-130);
  --activity-card-background: var(--white);
  --activity-card-icon-overlay: hsl(var(--primary-600-hsl)/0.85);
  --alert-bg: var(--white);
  --android-navigation-bar-background: var(--primary-100);
  --android-navigation-scrim-background: hsl(var(--primary-100-hsl)/0.5);
  --android-ripple: hsl(var(--black-hsl)/0.12);
  --autocomplete-bg: var(--primary-100);
  --background-accent: var(--primary-430);
  --background-floating: var(--white);
  --background-mentioned: hsl(var(--yellow-300-hsl)/0.1);
  --background-mentioned-hover: hsl(var(--yellow-300-hsl)/0.2);
  --background-message-automod: hsl(var(--red-400-hsl)/0.05);
  --background-message-automod-hover: hsl(var(--red-400-hsl)/0.1);
  --background-message-highlight: hsl(var(--brand-360-hsl)/0.1);
  --background-message-highlight-hover: hsl(var(--brand-360-hsl)/0.2);
  --background-message-hover: hsl(var(--primary-900-hsl)/0.03);
  --background-mobile-primary: var(--primary-100);
  --background-mobile-secondary: var(--white);
  --background-modifier-accent: hsl(var(--primary-400-hsl)/0.24);
  --background-modifier-active: hsl(var(--primary-400-hsl)/0.2);
  --background-modifier-hover: hsl(var(--primary-400-hsl)/0.16);
  --background-modifier-selected: hsl(var(--primary-400-hsl)/0.24);
  --background-nested-floating: var(--white);
  --background-primary: var(--white);
  --background-secondary: var(--primary-130);
  --background-secondary-alt: var(--primary-160);
  --background-tertiary: var(--primary-200);
  --bg-backdrop: hsl(var(--black-hsl)/0.54);
  --bg-backdrop-immersive: hsl(var(--black-hsl)/0.8);
  --bg-backdrop-no-opacity: var(--black);
  --bg-base-primary: var(--white);
  --bg-base-secondary: var(--primary-130);
  --bg-base-tertiary: var(--primary-160);
  --bg-brand: var(--brand-500);
  --bg-mod-faint: hsl(var(--primary-400-hsl)/0.08);
  --bg-mod-strong: hsl(var(--primary-400-hsl)/0.24);
  --bg-mod-subtle: hsl(var(--primary-400-hsl)/0.16);
  --bg-modal-gradient-green-end: var(--bg-modal-gradient-green-light-2);
  --bg-modal-gradient-green-start: var(--bg-modal-gradient-green-light-1);
  --bg-modal-gradient-lavender-end: var(--bg-modal-gradient-lavender-light-2);
  --bg-modal-gradient-lavender-start: var(--bg-modal-gradient-lavender-light-1);
  --bg-modal-gradient-magenta-end: var(--bg-modal-gradient-magenta-light-2);
  --bg-modal-gradient-magenta-start: var(--bg-modal-gradient-magenta-light-1);
  --bg-modal-gradient-navy-end: var(--bg-modal-gradient-navy-light-2);
  --bg-modal-gradient-navy-start: var(--bg-modal-gradient-navy-light-1);
  --bg-surface-overlay: var(--white);
  --bg-surface-overlay-tmp: var(--primary-130);
  --bg-surface-raised: var(--white);
  --bg-tile-gradient-magenta-end: hsl(var(--bg-modal-gradient-magenta-light-2-hsl)/0.3);
  --bg-tile-gradient-magenta-start: hsl(var(--bg-modal-gradient-magenta-light-1-hsl)/0.3);
  --blur-fallback: hsl(var(--primary-530-hsl)/0.96);
  --blur-fallback-pressed: hsl(var(--primary-560-hsl)/0.96);
  --border-faint: hsl(var(--black-hsl)/0.04);
  --border-strong: hsl(var(--black-hsl)/0.16);
  --border-subtle: hsl(var(--black-hsl)/0.08);
  --bug-reporter-modal-submitting-background: hsl(var(--white-hsl)/0.6);
  --button-creator-revenue-background: var(--teal-430);
  --button-danger-background: var(--red-430);
  --button-danger-background-active: var(--red-530);
  --button-danger-background-disabled: var(--red-430);
  --button-danger-background-hover: var(--red-500);
  --button-danger-border: hsl(var(--white-500-hsl)/0);
  --button-filled-brand-background: var(--brand-500);
  --button-filled-brand-background-active: var(--brand-600);
  --button-filled-brand-background-hover: var(--brand-560);
  --button-filled-brand-border: hsl(var(--white-500-hsl)/0);
  --button-filled-brand-inverted-background: var(--white);
  --button-filled-brand-inverted-background-active: var(--brand-200);
  --button-filled-brand-inverted-background-hover: var(--brand-100);
  --button-filled-brand-inverted-text: var(--brand-500);
  --button-filled-brand-text: var(--white);
  --button-filled-white-background: var(--white-500);
  --button-filled-white-background-active: var(--white-500);
  --button-filled-white-background-hover: var(--white-500);
  --button-filled-white-text: var(--primary-500);
  --button-outline-brand-background: hsl(var(--white-hsl)/0);
  --button-outline-brand-background-active: var(--brand-560);
  --button-outline-brand-background-hover: var(--brand-500);
  --button-outline-brand-border: var(--brand-500);
  --button-outline-brand-border-active: var(--brand-560);
  --button-outline-brand-border-hover: var(--brand-500);
  --button-outline-brand-text: var(--black);
  --button-outline-brand-text-active: var(--white);
  --button-outline-brand-text-hover: var(--white);
  --button-outline-danger-background: hsl(var(--white-hsl)/0);
  --button-outline-danger-background-active: var(--red-460);
  --button-outline-danger-background-hover: var(--red-430);
  --button-outline-danger-border: var(--red-430);
  --button-outline-danger-border-active: var(--red-430);
  --button-outline-danger-border-hover: var(--red-430);
  --button-outline-danger-text: var(--black);
  --button-outline-danger-text-active: var(--white);
  --button-outline-danger-text-hover: var(--white);
  --button-outline-positive-background: hsl(var(--white-hsl)/0);
  --button-outline-positive-background-active: var(--green-530);
  --button-outline-positive-background-hover: var(--green-430);
  --button-outline-positive-border: var(--green-400);
  --button-outline-positive-border-active: var(--green-530);
  --button-outline-positive-border-hover: var(--green-430);
  --button-outline-positive-text: var(--black);
  --button-outline-positive-text-active: var(--white);
  --button-outline-positive-text-hover: var(--white);
  --button-outline-primary-background: hsl(var(--white-hsl)/0);
  --button-outline-primary-background-active: var(--primary-600);
  --button-outline-primary-background-hover: var(--primary-530);
  --button-outline-primary-border: var(--primary-530);
  --button-outline-primary-border-active: var(--primary-600);
  --button-outline-primary-border-hover: var(--primary-530);
  --button-outline-primary-text: var(--black);
  --button-outline-primary-text-active: var(--white);
  --button-outline-primary-text-hover: var(--white);
  --button-positive-background: var(--green-430);
  --button-positive-background-active: var(--green-530);
  --button-positive-background-disabled: var(--green-430);
  --button-positive-background-hover: var(--green-530);
  --button-positive-border: hsl(var(--white-500-hsl)/0);
  --button-secondary-background: var(--primary-430);
  --button-secondary-background-active: var(--primary-530);
  --button-secondary-background-disabled: var(--primary-430);
  --button-secondary-background-hover: var(--primary-500);
  --button-secondary-text: var(--white-500);
  --button-transparent-background: hsl(var(--primary-400-hsl)/0.01);
  --button-transparent-background-active: hsl(var(--primary-400-hsl)/0.25);
  --button-transparent-background-hover: hsl(var(--primary-400-hsl)/0.2);
  --button-transparent-text: var(--primary-860);
  --card-gradient-bg: hsl(var(--white-hsl)/0.7);
  --card-gradient-pressed-bg: hsl(var(--white-hsl)/0.5);
  --card-primary-bg: var(--white);
  --card-primary-pressed-bg: var(--primary-160);
  --card-secondary-bg: var(--white);
  --card-secondary-pressed-bg: var(--primary-160);
  --channel-icon: var(--primary-430);
  --channel-text-area-placeholder: var(--primary-400);
  --channels-default: var(--primary-460);
  --channeltextarea-background: var(--primary-160);
  --chat-background: var(--white);
  --chat-banner-bg: var(--primary-130);
  --chat-border: var(--primary-200);
  --chat-input-container-background: var(--white);
  --chat-swipe-to-reply-background: var(--primary-160);
  --chat-swipe-to-reply-gradient-background: hsl(var(--white-hsl)/0.4);
  --coachmark-bg: var(--white);
  --context-menu-backdrop-background: hsl(var(--black-hsl)/0.54);
  --control-brand-foreground: var(--brand-500);
  --control-brand-foreground-new: var(--brand-500);
  --creator-revenue-icon-gradient-end: var(--teal-400);
  --creator-revenue-icon-gradient-start: var(--teal-345);
  --creator-revenue-info-box-background: hsl(var(--teal-430-hsl)/0.1);
  --creator-revenue-info-box-border: var(--teal-400);
  --creator-revenue-locked-channel-icon: var(--teal-400);
  --creator-revenue-progress-bar: var(--teal-345);
  --custom-status-bubble-bg: var(--white);
  --deprecated-card-bg: var(--primary-100);
  --deprecated-card-editable-bg: hsl(var(--primary-100-hsl)/0.6);
  --deprecated-text-input-bg: var(--primary-200);
  --deprecated-text-input-border: hsl(var(--primary-500-hsl)/0.3);
  --deprecated-text-input-border-disabled: var(--primary-200);
  --deprecated-text-input-border-hover: var(--primary-300);
  --display-banner-overflow-background: hsl(var(--white-hsl)/0.5);
  --divider-strong: hsl(var(--black-hsl)/0.16);
  --divider-subtle: hsl(var(--black-hsl)/0.08);
  --embed-background: var(--primary-130);
  --embed-background-alternate: var(--primary-200);
  --embed-title: var(--primary-860);
  --expression-picker-bg: var(--primary-130);
  --focus-primary: var(--blue-360);
  --forum-post-extra-media-count-container-background: hsl(var(--primary-160-hsl)/0.8);
  --forum-post-tag-background: hsl(var(--primary-160-hsl)/0.9);
  --guild-notifications-bottom-sheet-pill-background: var(--white);
  --header-muted: var(--primary-460);
  --header-primary: var(--primary-860);
  --header-secondary: var(--primary-500);
  --home-background: var(--primary-100);
  --icon-primary: var(--primary-860);
  --icon-secondary: var(--primary-500);
  --info-danger-background: hsl(var(--red-430-hsl)/0.1);
  --info-danger-foreground: var(--red-430);
  --info-danger-text: var(--black);
  --info-help-background: hsl(var(--blue-430-hsl)/0.1);
  --info-help-foreground: var(--blue-430);
  --info-help-text: var(--black);
  --info-positive-background: hsl(var(--green-400-hsl)/0.05);
  --info-positive-foreground: var(--green-400);
  --info-positive-text: var(--black);
  --info-warning-background: hsl(var(--yellow-400-hsl)/0.1);
  --info-warning-foreground: var(--yellow-400);
  --info-warning-text: var(--black);
  --input-background: hsl(var(--black-hsl)/0.08);
  --input-border: hsl(var(--plum-11-hsl)/0.32);
  --input-error-background: hsl(var(--red-500-hsl)/0.12);
  --input-error-border: var(--red-360);
  --input-error-text: var(--red-700);
  --input-focused-border: hsl(var(--black-hsl)/0.16);
  --input-placeholder-text: var(--primary-460);
  --interactive-active: var(--primary-860);
  --interactive-hover: var(--primary-600);
  --interactive-muted: var(--primary-300);
  --interactive-normal: var(--primary-500);
  --leaderboard-league-brand-text: var(--lol-text-dark);
  --legacy-android-blur-overlay-default: hsl(var(--primary-130-hsl)/0.1);
  --legacy-android-blur-overlay-ultra-thin: hsl(var(--white-hsl)/0.25);
  --legacy-blur-fallback-default: hsl(var(--primary-230-hsl)/0.975);
  --legacy-blur-fallback-ultra-thin: hsl(var(--white-hsl)/0.95);
  --live-stage-tile-border: hsl(var(--primary-430-hsl)/0.15);
  --logo-primary: var(--brand-500);
  --mention-background: hsl(var(--brand-500-hsl)/0.15);
  --mention-foreground: var(--brand-560);
  --message-reacted-text: var(--brand-560);
  --modal-background: var(--white);
  --modal-footer-background: var(--primary-130);
  --navigator-header-tint: var(--primary-500);
  --overlay-backdrop-default: hsl(var(--opacity-black-52-hsl)/0.5215686274509804);
  --panel-bg: var(--white);
  --polls-normal-fill-hover: var(--primary-230);
  --polls-normal-image-background: var(--white);
  --polls-victor-fill: hsl(var(--green-400-hsl)/0.2);
  --polls-voted-fill: hsl(var(--brand-500-hsl)/0.2);
  --premium-nitro-pink-text: var(--premium-nitro-pink-dark);
  --profile-gradient-message-input-border: hsl(var(--primary-430-hsl)/0.24);
  --profile-gradient-note-background: hsl(var(--white-hsl)/0.3);
  --profile-gradient-overlay: hsl(var(--white-hsl)/0.6);
  --profile-gradient-overlay-synced-with-user-theme: hsl(var(--white-hsl)/0.8);
  --profile-gradient-profile-body-background-hover: hsl(var(--black-hsl)/0.08);
  --profile-gradient-role-pill-background: hsl(var(--white-hsl)/0.5);
  --profile-gradient-role-pill-border: hsl(var(--primary-660-hsl)/0.2);
  --profile-gradient-section-box: hsl(var(--white-hsl)/0.45);
  --redesign-activity-card-badge-icon: var(--primary-400);
  --redesign-button-active-background: var(--green-430);
  --redesign-button-active-pressed-background: var(--green-460);
  --redesign-button-active-text: var(--white);
  --redesign-button-danger-background: var(--red-430);
  --redesign-button-danger-pressed-background: var(--red-460);
  --redesign-button-danger-text: var(--white);
  --redesign-button-destructive-background: var(--red-430);
  --redesign-button-destructive-pressed-background: var(--red-460);
  --redesign-button-destructive-text: var(--white);
  --redesign-button-overlay-alpha-background: hsl(var(--black-hsl)/0.54);
  --redesign-button-overlay-alpha-pressed-background: hsl(var(--black-hsl)/0.64);
  --redesign-button-overlay-alpha-text: var(--white);
  --redesign-button-overlay-background: var(--white);
  --redesign-button-overlay-text: var(--primary-860);
  --redesign-button-positive-background: var(--green-430);
  --redesign-button-positive-pressed-background: var(--green-460);
  --redesign-button-positive-text: var(--white);
  --redesign-button-premium-primary-blue-for-gradient: var(--premium-tier-0-blue-for-gradients-2);
  --redesign-button-premium-primary-pink-for-gradient: var(--premium-tier-2-pink-for-gradients);
  --redesign-button-premium-primary-pressed-background: hsl(var(--black-hsl)/0.1);
  --redesign-button-premium-primary-purple-for-gradient: var(--premium-tier-2-purple-for-gradients);
  --redesign-button-premium-primary-purple-for-gradient-2: var(--premium-tier-2-purple-for-gradients-2);
  --redesign-button-primary-alt-background: hsl(var(--brand-500-hsl)/0);
  --redesign-button-primary-alt-border: var(--brand-500);
  --redesign-button-primary-alt-on-blurple-background: hsl(var(--brand-530-hsl)/0);
  --redesign-button-primary-alt-on-blurple-border: var(--white);
  --redesign-button-primary-alt-on-blurple-pressed-background: var(--brand-530);
  --redesign-button-primary-alt-on-blurple-pressed-border: var(--brand-360);
  --redesign-button-primary-alt-on-blurple-text: var(--white);
  --redesign-button-primary-alt-pressed-background: hsl(var(--brand-500-hsl)/0.06);
  --redesign-button-primary-alt-pressed-border: var(--brand-330);
  --redesign-button-primary-alt-pressed-text: var(--brand-560);
  --redesign-button-primary-alt-text: var(--brand-500);
  --redesign-button-primary-background: var(--brand-500);
  --redesign-button-primary-on-blurple-pressed-text: var(--brand-530);
  --redesign-button-primary-overlay-background: var(--white);
  --redesign-button-primary-overlay-pressed-background: var(--primary-230);
  --redesign-button-primary-overlay-text: var(--primary-860);
  --redesign-button-primary-pressed-background: var(--brand-560);
  --redesign-button-primary-text: var(--white);
  --redesign-button-secondary-background: var(--white);
  --redesign-button-secondary-border: hsl(var(--black-hsl)/0.08);
  --redesign-button-secondary-overlay-background: hsl(var(--black-hsl)/0.54);
  --redesign-button-secondary-overlay-pressed-background: hsl(var(--black-hsl)/0.64);
  --redesign-button-secondary-overlay-text: var(--white);
  --redesign-button-secondary-pressed-background: var(--primary-130);
  --redesign-button-secondary-pressed-border: hsl(var(--black-hsl)/0.04);
  --redesign-button-secondary-text: var(--primary-600);
  --redesign-button-selected-background: hsl(var(--brand-500-hsl)/0.16);
  --redesign-button-selected-pressed-background: hsl(var(--brand-500-hsl)/0.24);
  --redesign-button-selected-text: var(--brand-500);
  --redesign-button-tertiary-background: hsl(var(--black-hsl)/0.08);
  --redesign-button-tertiary-pressed-background: hsl(var(--black-hsl)/0.16);
  --redesign-button-tertiary-pressed-text: var(--primary-500);
  --redesign-button-tertiary-text: var(--primary-600);
  --redesign-channel-name-muted-text: var(--primary-460);
  --redesign-channel-name-text: var(--primary-860);
  --redesign-chat-input-background: hsl(var(--black-hsl)/0.08);
  --redesign-image-button-pressed-background: hsl(var(--black-hsl)/0.08);
  --redesign-input-control-active-bg: var(--white);
  --redesign-input-control-selected: var(--brand-500);
  --scrollbar-auto-scrollbar-color-thumb: var(--primary-230);
  --scrollbar-auto-scrollbar-color-track: var(--primary-130);
  --scrollbar-auto-thumb: var(--primary-300);
  --scrollbar-auto-track: var(--primary-160);
  --scrollbar-thin-thumb: hsl(var(--primary-500-hsl)/0.3);
  --scrollbar-thin-track: hsl(var(--black-hsl)/0);
  --spine-default: var(--primary-300);
  --spoiler-hidden-background: var(--primary-200);
  --spoiler-revealed-background: var(--primary-160);
  --stage-card-pill-bg: var(--white);
  --status-danger: var(--red-430);
  --status-danger-background: var(--red-430);
  --status-danger-text: var(--white);
  --status-dnd: var(--red-430);
  --status-idle: var(--yellow-400);
  --status-offline: var(--primary-460);
  --status-online: var(--green-400);
  --status-positive: var(--green-400);
  --status-positive-background: var(--green-430);
  --status-positive-text: var(--white);
  --status-speaking: var(--green-360);
  --status-warning: var(--yellow-400);
  --status-warning-background: var(--yellow-400);
  --status-warning-text: var(--white);
  --text-brand: var(--brand-500);
  --text-danger: var(--red-500);
  --text-link: var(--blue-430);
  --text-link-low-saturation: var(--blue-430);
  --text-low-contrast: var(--primary-460);
  --text-message-preview-low-sat: var(--primary-460);
  --text-muted: var(--primary-460);
  --text-muted-on-default: var(--primary-430);
  --text-normal: var(--primary-600);
  --text-positive: var(--green-430);
  --text-primary: var(--primary-600);
  --text-secondary: var(--primary-500);
  --text-warning: var(--yellow-430);
  --textbox-markdown-syntax: var(--primary-530);
  --thread-channel-spine: var(--primary-300);
  --toast-bg: var(--white);
  --typing-indicator-bg: var(--primary-130);
  --user-profile-header-overflow-background: hsl(var(--white-hsl)/0.5);
  --activity-card-background: var(--neutral-1);
  --autocomplete-bg: var(--neutral-1);
  --background-floating: var(--neutral-1);
  --background-mentioned: hsl(var(--opacity-yellow-8-hsl)/0.0784313725490196);
  --background-mentioned-hover: hsl(var(--opacity-yellow-12-hsl)/0.12156862745098039);
  --background-message-highlight: hsl(var(--opacity-blurple-16-hsl)/0.1607843137254902);
  --background-message-highlight-hover: hsl(var(--opacity-blurple-20-hsl)/0.2);
  --background-message-hover: hsl(var(--opacity-8-hsl)/0.0784313725490196);
  --background-modifier-accent: hsl(var(--opacity-28-hsl)/0.2784313725490196);
  --background-modifier-active: hsl(var(--opacity-16-hsl)/0.1607843137254902);
  --background-modifier-hover: hsl(var(--opacity-12-hsl)/0.12156862745098039);
  --background-modifier-selected: hsl(var(--opacity-28-hsl)/0.2784313725490196);
  --background-primary: var(--neutral-2);
  --background-secondary: var(--neutral-2);
  --background-tertiary: var(--neutral-4);
  --bg-base-primary: var(--neutral-2);
  --bg-base-secondary: var(--neutral-2);
  --bg-base-tertiary: var(--neutral-4);
  --bg-brand: var(--blurple-50);
  --bg-mod-faint: hsl(var(--opacity-8-hsl)/0.0784313725490196);
  --bg-mod-strong: hsl(var(--opacity-28-hsl)/0.2784313725490196);
  --bg-mod-subtle: hsl(var(--opacity-12-hsl)/0.12156862745098039);
  --border-faint: hsl(var(--opacity-20-hsl)/0.2);
  --border-strong: hsl(var(--opacity-48-hsl)/0.47843137254901963);
  --border-subtle: hsl(var(--opacity-28-hsl)/0.2784313725490196);
  --button-danger-background: var(--red-new-50);
  --button-danger-background-active: var(--red-new-61);
  --button-danger-background-disabled: var(--red-new-50);
  --button-danger-background-hover: var(--red-new-57);
  --button-danger-border: hsl(var(--opacity-white-8-hsl)/0.0784313725490196);
  --button-filled-brand-border: hsl(var(--opacity-white-8-hsl)/0.0784313725490196);
  --button-filled-brand-inverted-background-active: var(--neutral-17);
  --button-filled-brand-inverted-background-hover: var(--neutral-9);
  --button-filled-brand-inverted-text: var(--black);
  --button-filled-white-background-active: var(--neutral-17);
  --button-filled-white-background-hover: var(--neutral-9);
  --button-filled-white-text: var(--black);
  --button-outline-danger-background: hsl(var(--opacity-16-hsl)/0.1607843137254902);
  --button-outline-danger-background-active: hsl(var(--primary-400-hsl)/0.08);
  --button-outline-danger-background-hover: hsl(var(--opacity-28-hsl)/0.2784313725490196);
  --button-outline-danger-border: hsl(var(--opacity-16-hsl)/0.1607843137254902);
  --button-outline-danger-border-active: hsl(var(--opacity-8-hsl)/0.0784313725490196);
  --button-outline-danger-border-hover: hsl(var(--opacity-8-hsl)/0.0784313725490196);
  --button-outline-danger-text: var(--red-500);
  --button-outline-danger-text-active: var(--red-500);
  --button-outline-danger-text-hover: var(--red-500);
  --button-positive-background: var(--green-new-50);
  --button-positive-background-active: var(--green-new-57);
  --button-positive-background-disabled: var(--green-new-50);
  --button-positive-background-hover: var(--green-new-53);
  --button-positive-border: hsl(var(--opacity-white-8-hsl)/0.0784313725490196);
  --button-secondary-background: hsl(var(--opacity-16-hsl)/0.1607843137254902);
  --button-secondary-background-active: hsl(var(--primary-400-hsl)/0.08);
  --button-secondary-background-disabled: hsl(var(--opacity-16-hsl)/0.1607843137254902);
  --button-secondary-background-hover: hsl(var(--opacity-28-hsl)/0.2784313725490196);
  --button-secondary-text: var(--neutral-95);
  --button-transparent-background: hsl(var(--opacity-16-hsl)/0.1607843137254902);
  --button-transparent-background-active: hsl(var(--primary-400-hsl)/0.08);
  --button-transparent-background-hover: hsl(var(--opacity-28-hsl)/0.2784313725490196);
  --button-transparent-text: var(--neutral-95);
  --card-primary-bg: var(--neutral-1);
  --channel-icon: var(--neutral-44);
  --channels-default: var(--neutral-38);
  --header-muted: var(--neutral-38);
  --header-primary: var(--neutral-71);
  --header-secondary: var(--neutral-67);
  --icon-muted: var(--neutral-38);
  --icon-primary: var(--neutral-59);
  --icon-secondary: var(--neutral-44);
  --info-danger-text: var(--red-new-53);
  --info-help-text: var(--blue-new-56);
  --info-positive-text: var(--green-new-55);
  --info-warning-text: var(--yellow-new-54);
  --input-background: hsl(var(--opacity-black-8-hsl)/0.0784313725490196);
  --input-border: hsl(var(--opacity-36-hsl)/0.3607843137254902);
  --input-focused-border: hsl(var(--black-hsl)/0.04);
  --input-placeholder-text: var(--neutral-44);
  --interactive-active: var(--neutral-71);
  --interactive-hover: var(--neutral-44);
  --interactive-normal: var(--neutral-44);
  --mention-foreground: var(--blurple-71);
  --message-reacted-text: var(--blurple-75);
  --modal-background: var(--neutral-1);
  --modal-footer-background: var(--neutral-1);
  --scrollbar-auto-scrollbar-color-thumb: var(--neutral-31);
  --scrollbar-auto-scrollbar-color-track: var(--neutral-3);
  --scrollbar-auto-thumb: var(--neutral-30);
  --scrollbar-auto-track: hsl(var(--transparent-hsl)/0);
  --scrollbar-thin-thumb: var(--neutral-32);
  --spine-default: hsl(var(--opacity-48-hsl)/0.47843137254901963);
  --text-brand: var(--blurple-49);
  --text-link: var(--blue-new-49);
  --text-muted: var(--neutral-38);
  --text-normal: var(--neutral-67);
  --text-positive: var(--green-new-55);
  --text-primary: var(--neutral-71);
  --text-secondary: var(--neutral-44);
  --text-warning: var(--yellow-new-54);
  --app-border-frame: hsl(var(--opacity-28-hsl)/0.2784313725490196);
  --background-base-low: var(--neutral-2);
  --background-base-lower: var(--neutral-2);
  --background-base-lowest: var(--neutral-4);
  --background-code: hsl(var(--opacity-blurple-4-hsl)/0.0392156862745098);
  --background-code-addition: hsl(var(--opacity-green-12-hsl)/0.12156862745098039);
  --background-code-deletion: hsl(var(--opacity-red-12-hsl)/0.12156862745098039);
  --background-feedback-critical: hsl(var(--opacity-red-8-hsl)/0.0784313725490196);
  --background-feedback-info: hsl(var(--opacity-blue-8-hsl)/0.0784313725490196);
  --background-feedback-positive: hsl(var(--opacity-green-8-hsl)/0.0784313725490196);
  --background-feedback-warning: hsl(var(--opacity-yellow-8-hsl)/0.0784313725490196);
  --background-mod-faint: hsl(var(--opacity-8-hsl)/0.0784313725490196);
  --background-mod-normal: hsl(var(--opacity-16-hsl)/0.1607843137254902);
  --background-mod-strong: hsl(var(--opacity-28-hsl)/0.2784313725490196);
  --background-mod-subtle: hsl(var(--opacity-12-hsl)/0.12156862745098039);
  --background-surface-high: var(--neutral-1);
  --background-surface-higher: var(--neutral-1);
  --background-surface-highest: var(--neutral-1);
  --border-feedback-critical: hsl(var(--opacity-red-24-hsl)/0.23921568627450981);
  --border-normal: hsl(var(--opacity-36-hsl)/0.3607843137254902);
  --chat-background-default: var(--neutral-1);
  --checkbox-border-default: var(--neutral-29);
  --icon-default: var(--neutral-59);
  --icon-tertiary: var(--neutral-38);
  --notice-background-critical: var(--red-new-1);
  --notice-background-info: var(--blue-new-1);
  --notice-background-positive: var(--green-new-1);
  --notice-background-warning: var(--yellow-new-1);
  --notice-text-critical: var(--red-new-77);
  --notice-text-info: var(--blue-new-76);
  --notice-text-positive: var(--green-new-74);
  --notice-text-warning: var(--yellow-new-76);
  --text-code-addition: var(--green-new-70);
  --text-code-builtin: var(--orange-new-67);
  --text-code-bullet: var(--yellow-new-67);
  --text-code-comment: var(--neutral-40);
  --text-code-default: var(--blue-new-68);
  --text-code-deletion: var(--red-new-70);
  --text-code-keyword: var(--red-new-66);
  --text-code-section: var(--blue-new-68);
  --text-code-string: var(--teal-new-67);
  --text-code-tag: var(--green-new-67);
  --text-code-title: var(--blurple-68);
  --text-code-variable: var(--blue-new-68);
  --text-default: var(--neutral-67);
  --text-feedback-critical: var(--red-new-53);
  --text-feedback-info: var(--blue-new-56);
  --text-feedback-positive: var(--green-new-55);
  --text-feedback-warning: var(--yellow-new-54);
  --text-tertiary: var(--neutral-38);
  --card-secondary-bg: hsl(var(--opacity-12-hsl)/0.12156862745098039);
  --info-danger-background: hsl(var(--opacity-red-8-hsl)/0.0784313725490196);
  --info-help-background: hsl(var(--opacity-blue-8-hsl)/0.0784313725490196);
  --info-positive-background: hsl(var(--opacity-green-8-hsl)/0.0784313725490196);
  --info-warning-background: hsl(var(--opacity-yellow-8-hsl)/0.0784313725490196);
  --mention-background: hsl(var(--opacity-blurple-24-hsl)/0.23921568627450981);
  --message-reacted-background: hsl(var(--opacity-blurple-24-hsl)/0.23921568627450981);
  --checkbox-background-checked: var(--blurple-50);
  --checkbox-background-default: hsl(var(--opacity-4-hsl)/0.0392156862745098);
  --checkbox-border-checked: var(--blurple-50);
  --shadow-border: 0 0 0 1px hsl(none 0% 0%/0.08);
  --shadow-border-filter: drop-shadow(0 0 1px hsl(none 0% 0%/0.08));
  --shadow-button-overlay: 0 12px 24px 0 hsl(none 0% 0%/0.24);
  --shadow-button-overlay-filter: drop-shadow(0 12px 24px hsl(none 0% 0%/0.24));
  --shadow-high: 0 12px 36px 0 hsl(none 0% 0%/0.12);
  --shadow-high-filter: drop-shadow(0 12px 36px hsl(none 0% 0%/0.12));
  --shadow-ledge: 0 2px 0 0 hsl(none 0% 0%/0.03), 0 1.5px 0 0 hsl(none 0% 0%/0.03), 0 1px 0 0 hsl(none 0% 0%/0.08);
  --shadow-ledge-filter: drop-shadow(0 1.5px 0 hsl(none 0% 0%/0.12));
  --shadow-low: 0 1px 4px 0 hsl(none 0% 0%/0.08);
  --shadow-low-filter: drop-shadow(0 1px 4px hsl(none 0% 0%/0.08));
  --shadow-low-active: 0 0 4px 0 hsl(none 0% 0%/0.08);
  --shadow-low-active-filter: drop-shadow(0 0 4px hsl(none 0% 0%/0.08));
  --shadow-low-hover: 0 4px 8px 0 hsl(none 0% 0%/0.08);
  --shadow-low-hover-filter: drop-shadow(0 4px 8px hsl(none 0% 0%/0.08));
  --shadow-medium: 0 4px 8px 0 hsl(none 0% 0%/0.08);
  --shadow-medium-filter: drop-shadow(0 4px 8px hsl(none 0% 0%/0.08));
  --shadow-mobile-navigator-x: 0 0 9px 0 hsl(none 0% 0%/0.13);
  --shadow-mobile-navigator-x-filter: drop-shadow(0 0 9px hsl(none 0% 0%/0.13));
  --shadow-top-high: 0 -12px 36px 0 hsl(none 0% 0%/0.12);
  --shadow-top-high-filter: drop-shadow(0 -12px 36px hsl(none 0% 0%/0.12));
  --shadow-top-ledge: 0 -2px 0 0 hsl(none 0% 0%/0.03), 0 -1.5px 0 0 hsl(none 0% 0%/0.03), 0 -1px 0 0 hsl(none 0% 0%/0.08);
  --shadow-top-ledge-filter: drop-shadow(0 -1.5px 0 hsl(none 0% 0%/0.12));
  --shadow-top-low: 0 -1px 4px 0 hsl(none 0% 0%/0.08);
  --shadow-top-low-filter: drop-shadow(0 -1px 4px hsl(none 0% 0%/0.08));
  --guild-header-text-shadow: 0 1px 1px hsl(var(--white-500-hsl)/0.4);
  --elevation-stroke: 0 0 0 1px hsl(var(--primary-860-hsl)/0.08);
  --elevation-low: 0 1px 0 hsl(var(--primary-860-hsl)/0.1), 0 1.5px 0 hsl(var(--primary-900-hsl)/0.025), 0 2px 0 hsl(var(--primary-860-hsl)/0.025);
  --elevation-medium: 0 4px 4px hsl(var(--black-500-hsl)/0.08);
  --elevation-high: 0 8px 16px hsl(var(--black-500-hsl)/0.16);
  --bg-overlay-color: 255 255 255;
  --bg-overlay-color-inverse: 0 0 0;
  --bg-overlay-opacity-1: 0.9;
  --bg-overlay-opacity-2: 0.8;
  --bg-overlay-opacity-3: 0.7;
  --bg-overlay-opacity-4: 0.6;
  --bg-overlay-opacity-5: 0.3;
  --bg-overlay-opacity-6: 0.15;
  --bg-overlay-opacity-hover: 0.7;
  --bg-overlay-opacity-hover-inverse: 0.02;
  --bg-overlay-opacity-active: 0.65;
  --bg-overlay-opacity-active-inverse: 0.03;
  --bg-overlay-opacity-selected: 0.6;
  --bg-overlay-opacity-selected-inverse: 0.04;
  --bg-overlay-opacity-chat: 0.9;
  --bg-overlay-opacity-home: 0.7;
  --bg-overlay-opacity-home-card: 0.9;
  --bg-overlay-opacity-app-frame: var(--bg-overlay-opacity-5);
  --bg-overlay-opacity-floating: 0.95;
  --bg-overlay-color: 255 255 255;
  --bg-overlay-opacity-chat: 0.85;
  --bg-overlay-opacity-1: 0.85;
  --bg-overlay-opacity-2: 0.8;
  --bg-overlay-opacity-3: 0.75;
  --bg-overlay-opacity-4: 0.7;
  --bg-overlay-opacity-5: 0.65;
  --bg-overlay-opacity-6: 0.15;
  --bg-overlay-opacity-app-frame: var(--bg-overlay-opacity-5);
  --theme-base-color: var(--theme-base-color-light);
  --theme-text-color: var(--theme-text-color-light);
  --theme-base-color-hsl: var(--theme-base-color-light-hsl);
  --custom-overlay-color: hsl(var(--white-500-hsl)/0.3);
  --custom-overlay-color: hsl(var(--white-500-hsl)/0.3);
  --search-popout-option-user-nickname: var(--text-normal);
  --search-popout-option-user-username: var(--text-muted);
  --search-popout-option-filter-text: #caccce;
  --search-popout-option-non-text-color: #5e636a;
  --search-popout-option-filter-color: #caccce;
  --search-popout-option-answer-color: var(--primary-500);
  --search-popout-date-picker-border: 1px solid var(--primary-200);
  --search-popout-date-picker-hint-text: #caccce;
  --search-popout-date-picker-hint-value-text: #fff;
  --search-popout-date-picker-hint-value-background: var(--brand-500);
  --search-popout-date-picker-hint-value-background-hover: var(--brand-400);
  --search-popout-option-user-nickname: var(--text-primary);
  --search-popout-option-user-username: var(--text-secondary);
  --search-popout-option-filter-text: var(--text-secondary);
  --search-popout-option-non-text-color: var(--text-muted);
  --search-popout-option-filter-color: var(--text-muted);
  --search-popout-option-answer-color: var(--text-muted);
  --search-popout-date-picker-border: 1px solid var(--border-faint);
  --search-popout-date-picker-hint-text: var(--text-muted);
  --search-popout-date-picker-hint-value-background-hover: var(--opacity-blurple-32);
}