.emoji {
    width: var(--custom-emoji-size-jumbo-emoji);
    height: var(--custom-emoji-size-jumbo-emoji);
    min-height: var(--custom-emoji-size-jumbo-emoji);
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    -webkit-user-drag: none;
}
.small-normal img {
    width: 19.2472px;
    height: 19.2472px;
    -webkit-user-drag: none;
}
.emoji-tiny {
    width: var(--custom-emoji-size-emoji);
    height: var(--custom-emoji-size-emoji);
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    -webkit-user-drag: none;
    object-fit: contain;
    vertical-align: bottom
}
.emoji-uninteractable {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    -webkit-user-drag: none;
    object-fit: contain;
    vertical-align: bottom;
    padding-right: 2px;
}
.hover-tooltip-emoji {
    position: absolute;
    background-color: var(--background-floating);
    box-shadow: var(--elevation-low);
    color: var(--text-normal);
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 13.5px;
    font-weight: 500;
    white-space: nowrap;
    z-index: 1000;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -100%);
    display: none;
    text-align: center;
}
.click-tooltip-emoji {
    position: absolute;
    background-color: var(--background-floating);
    box-shadow: var(--elevation-low);
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 0.9em;
    z-index: 1000;
    display: none;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    max-width: 270px;
    word-wrap: break-word;
    white-space: normal;
}
.click-tooltip-emoji div {
    overflow-wrap: break-word;
    word-break: break-word;
}
.click-tooltip-emoji img {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}
.emoji.clicked + .click-tooltip-emoji {
    display: flex;
}
.click-tooltip-emoji .emojiName {
    color: var(--text-normal);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}
.click-tooltip-emoji .emojiDesc {
    color: var(--text-normal);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}