/* https://discord.com/assets/7de80457c37afe69.css <- where i found the styles */
.hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    border-radius: 4px;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    color: var(--text-normal);
    background: var(--background-secondary)
}
.hljs-doctag, .hljs-keyword, .hljs-meta .hljs-keyword, .hljs-template-tag, .hljs-template-variable, .hljs-type, .hljs-variable.language_ {
    color: #ff7b72
}
.hljs-title, .hljs-title.class_, .hljs-title.class_.inherited__, .hljs-title.function_ {
    color: #d2a8ff
}
.hljs-attr, .hljs-attribute, .hljs-literal, .hljs-meta, .hljs-number, .hljs-operator, .hljs-selector-attr, .hljs-selector-class, .hljs-selector-id, .hljs-variable {
    color: #79c0ff
}
.hljs-meta .hljs-string, .hljs-regexp, .hljs-string {
    color: #a5d6ff
}
.hljs-built_in, .hljs-symbol {
    color: #ffa657
}
.hljs-code, .hljs-comment, .hljs-formula {
    color: #8b949e
}
.hljs-name, .hljs-quote, .hljs-selector-pseudo, .hljs-selector-tag {
    color: #7ee787
}
.hljs-subst {
    color: #c9d1d9
}
.hljs-section {
    color: #1f6feb;
    font-weight: 700
}
.hljs-bullet {
    color: #f2cc60
}
.hljs-emphasis {
    color: #c9d1d9;
    font-style: italic
}
.hljs-strong {
    color: #c9d1d9;
    font-weight: 700
}
.hljs-addition {
    color: #aff5b4;
    background-color: #033a16
}
.hljs-deletion {
    color: #ffdcd7;
    background-color: #67060c
}

/* Light Mode Only */
.theme-light .hljs-doctag,.theme-light .hljs-keyword,.theme-light .hljs-meta .hljs-keyword,.theme-light .hljs-template-tag,.theme-light .hljs-template-variable,.theme-light .hljs-type,.theme-light .hljs-variable.language_ {
    color: #d73a49
}
.theme-light .hljs-title,.theme-light .hljs-title.class_,.theme-light .hljs-title.class_.inherited__,.theme-light .hljs-title.function_ {
    color: #6f42c1
}
.theme-light .hljs-attr,.theme-light .hljs-attribute,.theme-light .hljs-literal,.theme-light .hljs-meta,.theme-light .hljs-number,.theme-light .hljs-operator,.theme-light .hljs-selector-attr,.theme-light .hljs-selector-class,.theme-light .hljs-selector-id,.theme-light .hljs-variable {
    color: #005cc5
}
.theme-light .hljs-meta .hljs-string,.theme-light .hljs-regexp,.theme-light .hljs-string {
    color: #032f62
}
.theme-light .hljs-built_in,.theme-light .hljs-symbol {
    color: #e36209
}
.theme-light .hljs-code,.theme-light .hljs-comment,.theme-light .hljs-formula {
    color: #6a737d
}
.theme-light .hljs-name,.theme-light .hljs-quote,.theme-light .hljs-selector-pseudo,.theme-light .hljs-selector-tag {
    color: #22863a
}
.theme-light .hljs-subst {
    color: #24292e
}
.theme-light .hljs-section {
    color: #005cc5;
    font-weight: 700
}
.theme-light .hljs-bullet {
    color: #735c0f
}
.theme-light .hljs-emphasis {
    color: #24292e;
    font-style: italic
}
.theme-light .hljs-strong {
    color: #24292e;
    font-weight: 700
}
.theme-light .hljs-addition {
    color: #22863a;
    background-color: #f0fff4
}
.theme-light .hljs-deletion {
    color: #b31d28;
    background-color: #ffeef0
}

.visual-refresh .hljs {
    border-radius: 4px;
    display: block;
    overflow-x: auto;
    padding: .5em;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    color: var(--text-normal)
}
.visual-refresh .hljs-doctag,.visual-refresh .hljs-keyword,.visual-refresh .hljs-meta .hljs-keyword,.visual-refresh .hljs-template-tag,.visual-refresh .hljs-template-variable,.visual-refresh .hljs-type,.visual-refresh .hljs-variable.language_ {
    color: var(--text-code-keyword)
}
.visual-refresh .hljs-title,.visual-refresh .hljs-title.class_,.visual-refresh .hljs-title.class_.inherited__,.visual-refresh .hljs-title.function_ {
    color: var(--text-code-title)
}
.visual-refresh .hljs-attr,.visual-refresh .hljs-attribute,.visual-refresh .hljs-literal,.visual-refresh .hljs-meta,.visual-refresh .hljs-number,.visual-refresh .hljs-operator,.visual-refresh .hljs-selector-attr,.visual-refresh .hljs-selector-class,.visual-refresh .hljs-selector-id,.visual-refresh .hljs-variable {
    color: var(--text-code-variable)
}
.visual-refresh .hljs-meta .hljs-string,.visual-refresh .hljs-regexp,.visual-refresh .hljs-string {
    color: var(--text-code-string)
}
.visual-refresh .hljs-built_in,.visual-refresh .hljs-symbol {
    color: var(--text-code-builtin)
}
.visual-refresh .hljs-code,.visual-refresh .hljs-comment,.visual-refresh .hljs-formula {
    color: var(--text-code-comment)
}
.visual-refresh .hljs-name,.visual-refresh .hljs-quote,.visual-refresh .hljs-selector-pseudo,.visual-refresh .hljs-selector-tag {
    color: var(--text-code-tag)
}
.visual-refresh .hljs-subst {
    color: var(--text-code-default)
}
.visual-refresh .hljs-section {
    color: var(--text-code-section);
    font-weight: 700
}
.visual-refresh .hljs-bullet {
    color: var(--text-code-bullet)
}
.visual-refresh .hljs-emphasis {
    color: var(--text-code-default);
    font-style: italic
}
.visual-refresh .hljs-strong {
    color: var(--text-code-default);
    font-weight: 700
}
.visual-refresh .hljs-addition {
    background-color: var(--background-code-addition);
    color: var(--text-code-addition)
}
.visual-refresh .hljs-deletion {
    background-color: var(--background-code-deletion);
    color: var(--text-code-deletion)
}