/* Messages Container */
#messages { 
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
}
/* All Messages */
.message { 
    margin-bottom: 16px;
    padding-left: 10px;
    display: flex;
    align-items: flex-start;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: var(--text-normal);
    font-size: 16px;
    font-style: normal;
    user-select: text;
    font-weight: 400;
    position: relative;
    transition: background var(--reply-highlight-fade-time) ease-out, border-left var(--reply-highlight-fade-time) ease-out;
}
.message:hover {
    background: var(--background-message-hover);
}
/* Author's Profile Picture */
.message .profile-pic {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    margin-right: 14px;
    margin-top: 1px;
    flex-shrink: 0;
    cursor: default;
    user-select: none;
}
 /* Author Name (without gradients ffs) */
.message .author .name {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.375rem;
    display: inline;
    vertical-align: baseline;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    cursor: pointer;
    text-decoration-color: var(--header-primary);
}
.desaturate-user-colors .message .author .name {
    filter: saturate(var(--saturation-factor, 1)) contrast(var(--contrast, 1)) brightness(var(--brightness, 1));
}
.message .author .name:hover {
    text-decoration: underline;
}
.message .author .name:not(.useGradient):not(.useTricolorGradient) {
    color: var(--header-primary);
}
/* tags */
.nameTagBadge {
    vertical-align: middle;
    margin-top: -2px;
}
.nameTagText {
    overflow-wrap: break-word;
    font-style: normal;
    user-select: text;
    cursor: pointer;
    outline: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
    font-family: var(--font-primary);
    font-size: 12px;
    line-height: 1.3333333333333333;
    font-weight: 600;
    color: var(--text-normal);
}
.nameTag {
    font-family: var(--font-primary);
    overflow-wrap: break-word;
    color: var(--text-normal);
    font-size: 16px;
    font-style: normal;
    user-select: text;
    font-weight: 400;
    outline: 0;
    display: inline-block;
    padding: 0 4px;
    background: var(--bg-mod-strong);
    border-radius: 4px;
    margin-left: 1px;
    line-height: 16px !important;
    vertical-align: middle;
    transition: background .1s ease-in-out;
    margin-top: -2px;
    cursor: pointer;
}
.roleIcon {
    overflow: hidden;
    object-fit: contain;
    vertical-align: middle;
}
/* Gradient Names */
:root {
    --name-gradient-color-1: #a9c9ff;
    --name-gradient-color-2: #ffbbec;
    --name-gradient-color-3: #ffc3a0;
}
.message .author .name.useGradient, .message .author .name.useTricolorGradient {
    -webkit-background-clip: text; background-clip: text;
    -webkit-text-fill-color: transparent; color: transparent;
    text-decoration-color: var(--name-gradient-color-1);
}
.message .author .name.useGradient {
    background: repeating-linear-gradient(to right, var(--name-gradient-color-1) 0px, var(--name-gradient-color-2) 50px, var(--name-gradient-color-1) 100px);
}
.message .author .name.useTricolorGradient {
    background: repeating-linear-gradient(to right,
        var(--name-gradient-color-1) 0px,
        var(--name-gradient-color-2) 33px,
        var(--name-gradient-color-3) 66px,
        var(--name-gradient-color-1) 99px
    );
}
.message:hover .author .name.useGradient, .message:hover .author .name.useTricolorGradient {
     animation: gradientGlow 7.5s linear infinite;
    -webkit-background-clip: text; background-clip: text;
    -webkit-text-fill-color: transparent; color: transparent;
}
@keyframes gradientGlow {
    0% { background-position: 0; }
    to { background-position: 500px; }
}
/* Timestamp */
.message:not(.grouped) .timestamp {
    display: inline-block;
    margin-left: 3.5px;
    cursor: default;
    color: var(--text-muted);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    height: 16px;
    line-height: 16px;
}

.message-group .grouped .message-background {
    display: flex;
    align-items: center;
    gap: 4px;
}
/* Grouped Message Timestamp */
.message-group .grouped .timestamp {
    font-weight: 500;
    color: var(--text-muted);
    font-size: .6875rem;
    line-height: 1.375rem;
    margin-left: -7px;
    height: 1.375rem;
    line-height: 1.375rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 56px;
    z-index: 1;
    height: auto;
    line-height: normal;
    display: none;
}
/* Grouped Message Timestamp on hover */
.message-group .grouped:hover .timestamp { 
    display: flex;
    align-self: center;
}
/* Grouped Message Content */
.message-group .grouped .message-content { 
    padding-left: 53px;
    position: relative;
}
/* Grouped Message Content on hover */
.message-group .grouped:hover .message-content { 
    padding-left: 0px;
}
/* Grouped Message */
.message-group .grouped { 
    margin-top: -13.5px;
}
/* Ensuring long words wrap */
.message .content { 
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    line-height: var(--chat-markup-line-height);
    white-space: pre-wrap;
}
/* Message Content */
.message .message-content { 
    display: flex;
    flex-direction: column;
}
 /* Replying To / Ephemeral */
.message.replying,
.message.eph,
.reply-thread.replying,
.reply-thread.eph,
.reply-thread.replying.mention { 
    background: var(--background-message-highlight);
    border-left: 2px solid var(--brand-500);
}
.reply-thread.mention .message.mention {
    background: transparent;
    border-left: transparent;
}
/* Temporary Jump Highlight */
.message.highlight.highlight { 
    transition: background var(--reply-highlight-fade-time) linear, border-left var(--reply-highlight-fade-time) linear;
    background: var(--background-message-highlight);
    border-left: 2px solid var(--brand-500);
}
/* Mention Message */
.message.mention,
.reply-thread.mention {
    background-color: var(--background-mentioned);
    border-left: 2px solid var(--info-warning-foreground);
}
/* Special message stuff */
.message .shieldTextAutomod { /* main automod message container, contains all of the below elements up until .ephemeral */
    line-height: var(--chat-markup-line-height);
    white-space: break-spaces;
    word-wrap: break-word;
    color: var(--text-normal);
    user-select: text;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8px;
    gap: 4px;
}

.message .shieldContainer { /* shield container */
    line-height: var(--chat-markup-line-height);
    white-space: break-spaces;
    word-wrap: break-word;
    color: var(--text-normal);
    user-select: text;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
    flex: 0;
}

.message .shield { /* The actual shield icon */
    line-height: var(--chat-markup-line-height);
    white-space: break-spaces;
    word-wrap: break-word;
    user-select: text;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    width: 16;
    height: 16;
    fill: none;
    color: var(--text-danger);
}

.message .automodTextContainer {  /* container that contains and aligns the block message correctly*/
    line-height: var(--chat-markup-line-height);
    white-space: break-spaces;
    word-wrap: break-word;
    color: var(--text-normal);
    user-select: text;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
    flex: 1;
}

.message .automodText {  /* block message */
    white-space: break-spaces;
    word-wrap: break-word;
    user-select: text;
    font-style: inherit;
    vertical-align: baseline;
    font-family: var(--font-primary);
    font-size: 14px;
    line-height: 1.2857142857142858;
    font-weight: 400;
    color: var(--interactive-normal);
}

.message.error {  /* Error / Caught by Automod */
    background: var(--background-message-automod);
    border-left: 2px solid var(--text-danger);
}

.ephemeral {
    font-size: 12px;
    color: var(--text-muted);
    margin-top: 4px;
    align-items: center;
}

.message.grouped.eph .ephemeral {
    font-size: 12px;
    color: var(--text-muted);
    margin-top: 4px;
    align-items: center;
    position: relative;
}

.eyecon {
    margin-right: 4px;
    vertical-align: text-bottom;
}

.error .icon {
    color: var(--status-danger);
    display: block;
    margin-right: 8px;
}

.error {
    margin-top: 4px;
    display: flex;
    align-items: center;
}

.message.grouped .error .icon {
    color: var(--status-danger);
    display: block;
    margin-right: 8px;
}

.message.grouped .error {
    margin-top: 4px;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 50px;
}

/* Bots */
.botTag {
    white-space: nowrap;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: .625rem;
    text-transform: uppercase;
    vertical-align: top;
    display: inline-flex;
    align-items: center;
    background: var(--bg-brand);
    color: var(--white-500);
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 3.5px;
    flex: 0 0 auto;
    height: 16px;
    padding: 0 4px;
    border-radius: 4px;
    user-select: none;
}
.botTag .verified {
    white-space: nowrap;
    color: var(--white-500);
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: -2px;
}
.botTag .text {
    text-transform: uppercase;
    color: var(--white-500);
    font-style: inherit;
    font-family: inherit;
    position: relative;
    font-weight: 600;
    vertical-align: top;
    font-size: 12px;
    line-height: 16px;
}
.reply-container .botTag {
    height: 13px;
    margin: 0px -2px;
}