.vc-plugins-grid {
    margin-top: 16px;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
}

.vc-plugins-grid button[role="switch"] {
    height: 24px;
    width: 24px;
    padding: 0;
    background: transparent;
    margin-right: 8px;
    border: none;
}

.plugins-info-icon:hover {
    color: var(--interactive-hover)
}

.plugins-info-icon:not(:hover, :focus) {
    color: var(--text-muted)
}

.vc-addon-card {
    background-color: var(--background-secondary-alt);
    color: var(--interactive-active);
    border-radius: 8px;
    display: block;
    height: 100%;
    padding: 12px;
    width: 100%;
    transition: 0.1s ease-out;
    transition-property: box-shadow, transform, background, opacity;
    box-sizing: border-box;
}

.visual-refresh .vc-addon-card {
    background-color: var(--card-primary-bg);
    border: 1px solid var(--border-subtle);
}

.vc-addon-card.disabled {
    opacity: 0.6;
}

.vc-addon-card:hover {
    background-color: var(--background-tertiary);
    transform: translateY(-1px);
    box-shadow: var(--elevation-high);
}

.visual-refresh .vc-addon-card:hover {
    background-color: var(--card-primary-bg);
}

.vc-addon-header {
    margin-top: auto;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    margin-bottom: .5em;

    user-select: none;
    border: 0;
    font-style: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    outline: 0;
    color: var(--text-normal);
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    align-items: center;
    flex-grow: 1;
    gap: 8px;
}

.vc-addon-note {
    height: 46px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    user-select: none;
    border: 0;
    font-style: inherit;
    margin: 8px 0 0 0;
    padding: 0;
    vertical-align: baseline;
    outline: 0;
    color: var(--text-normal);
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2857142857142858;
    box-sizing: border-box;
    height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.vc-addon-name-author {
    width: 100%
}

.vc-addon-name {
    display: flex;
    width: 100%;
    align-items: center;
    flex-grow: 1;
    gap: 8px
}

.vc-plugins-grid label.switch.switch {
    margin-top: -30px;
}

.visual-refresh-ui .vc-plugins-grid label.switch.switch {
    margin-top: -8px;
}

.vc-addon-title-container {
    width: 100%;
    overflow: hidden;
    height: 1.25em;
    position: relative
}

.vc-addon-title {
    position: absolute;
    inset: 0;
    overflow: hidden;
    text-overflow: ellipsis
}

.vc-addon-title:hover {
    overflow: visible;
}

/* MODALS */
.opt-description {
    user-select: none;
    pointer-events: all;
    margin: 0;
    padding: 0;
    border: 0;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
    outline: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    cursor: default;
    color: var(--header-secondary);
}

div.vc-plugin-modal-info>div {
    pointer-events: all;
    border: 0;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    outline: 0;
    color: var(--text-normal);
    font-size: 14px;
    line-height: 18px;
    flex-grow: 1;
    user-select: text;
    cursor: initial;
}

.plugin-footer {
    color: var(--text-normal);
    line-height: 1;
    font-family: var(--font-primary);
    text-rendering: optimizeLegibility;
    user-select: none;
    pointer-events: all;
    outline: 0;
    flex-direction: row-reverse;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: nowrap;
    position: relative;
    padding: var(--modal-vertical-padding) var(--modal-horizontal-padding);
    z-index: 1;
    overflow-x: hidden;
    border-radius: 0 0 5px 5px;
    background-color: var(--modal-footer-background);
    box-shadow: inset 0 1px 0 hsl(var(--primary-100-hsl)/.6);
    flex: 0 0 auto;
}