/* Close Button */
#close-settings-btn {
    line-height: 1;
    user-select: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
    outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 36px;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    cursor: pointer;
    color: var(--interactive-normal);
    box-sizing: border-box;
}
#close-settings-btn svg path {
    fill: var(--interactive-normal);
}
.close-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 36px;
    width: 60px;
    padding-top: 20px;
    margin-right: 21px;
    position: relative;
    box-sizing: border-box;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
    outline: 0;
    line-height: 1;
    user-select: none;
}
.menuKeybind {
    margin: 0;
    padding: 0;
    border: 0;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
    outline: 0;
    margin-top: 8px;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    color: var(--interactive-normal);
    box-sizing: border-box;
}
#close-settings-btn:hover svg path,
#close-settings-btn:hover,
#close-settings-btn:hover+.menuKeybind {
    color: var(--interactive-hover);
    fill: var(--interactive-hover);
    cursor: pointer;
}

/* Settings - Main */
#settings-panel {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background-secondary);
    z-index: 9999;
    user-select: none;
    overflow: hidden;
}
#settings-panel #settings-sidebar:hover {
    overflow-y: auto;
}

#settings-content::-webkit-scrollbar,
#settings-content::-webkit-scrollbar-track,
#settings-content::-webkit-scrollbar-thumb {
    width: 0px;
    height: 0px;
}

#settings-sidebar::-webkit-scrollbar,
#settings-sidebar::-webkit-scrollbar-track,
#settings-sidebar::-webkit-scrollbar-thumb {
    width: 0px;
    height: 0px;
}
#settings-sidebar:hover::-webkit-scrollbar,
#settings-sidebar:hover::-webkit-scrollbar-track,
#settings-sidebar:hover::-webkit-scrollbar-thumb {
    width: 8px;
    height: 8px;
}

#settings-container {
    display: flex;
    width: 100%;
    height: 100%;
    user-select: none;
}

#settings-sidebar {
    width: 15%;
    background: var(--background-tertiary);
    display: flex;
    flex-direction: column;
    gap: 10px;
    user-select: none;
    width: var(--custom-standard-sidebar-view-sidebar-total-width);
    padding: 30px var(--custom-standard-sidebar-view-sidebar-content-scrollbar-padding) 60px 10px;
    overflow-y: scroll;
}
#settings-sidebar .eyebrow {
    margin-bottom: -3px;
    margin-left: 5px;
}
#settings-sidebar .separator {
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
    outline: 0;
    background-color: var(--background-modifier-accent);
    box-sizing: border-box;
    margin: -1.8px 10px;
    height: 1px;
}

.settings-tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    margin: -1.5px 0px;
    border: 0;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
    flex-shrink: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    font-weight: 500;
    box-sizing: border-box;
    color: var(--interactive-normal);
    padding: 6px 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 2px;
    border-radius: 4px;
    user-select: none;
    text-align: left;
}

.settings-tab.active {
    background-color: var(--background-modifier-selected);
    color: var(--white);
}

.settings-tab:hover {
    background-color: var(--background-modifier-hover);
    color: var(--interactive-hover);
}

.settings-tab.active:hover {
    background-color: var(--background-modifier-hover);
    color: var(--white);
}

.settings-tab svg {
    margin-right: 2.5px;
    flex-shrink: 0;
    pointer-events: none;
}

#settings-content {
    width: 75%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
}

.settings-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1;
}

.custom-option-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
}

/* Socials Above Version Info - Suggested by System32 */
.socialLinks {
    position: relative;
    bottom: 5px;
    margin: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
    outline: 0;
    padding: 8px 10px;
    font-size: 12px;
    line-height: 16px;
    box-sizing: border-box;
}
.socialLinks .link {
    line-height: 16px;
    margin: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
    cursor: pointer;
    outline: 0;
    text-decoration: var(--link-decoration);
    padding: 0 2px;
    margin-right: 8px;
    color: var(--interactive-normal);
    box-sizing: border-box;
    animation: none !important;
    transition: none !important;
}
.socialLinks .link:hover {
    text-decoration: underline;
    color: var(--interactive-hover);
}

#version-info {
    position: relative;
    bottom: 35px;
    cursor: pointer;
    text-transform: capitalize;
    user-select: none;
    font-style: inherit;
    font-family: var(--font-primary);
    line-height: 1.3333333333333333;
    display: block;
    box-sizing: border-box;
    color: var(--text-muted);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    padding: 5px;
}
/* End of Socials Above Version Info */

.settings-section.hidden {
    display: none;
}

/* Settings - Text */
.settings-section h2 {
    position: relative;
    top: -1.5%;
    font-style: inherit;
    vertical-align: baseline;
    color: var(--text-normal);
    font-family: var(--font-display);
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
    box-sizing: border-box;
}

.settings-section label {
    font-family: var(--font-display);
    font-size: 12px;
    line-height: 1.3333333333333333;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .02em;
    color: var(--header-secondary);
    transform: translateY(10px);
}

.custom-option-container .label-text {
    font-weight: 500;
    color: var(--text-normal);
}

/* Settings - Inputs */
.settings-section input[type="text"] {
    width: 300px;
    user-select: none;
    font-weight: 400;
    font-family: var(--font-primary);
    outline: 0;
    font-size: 15.6px;
    border-radius: 3px;
    color: var(--text-normal);
    background-color: var(--input-background);
    border: none;
    transition: border-color .2s ease-in-out;
    padding: 10px;
    height: 40px;
    box-sizing: border-box;
    border-color: var(--deprecated-text-input-border-hover);
}

.settings-section textarea {
    width: 100%;
    user-select: none;
    font-weight: 400;
    font-family: var(--font-primary);
    outline: 0;
    font-size: 15.6px;
    border-radius: 3px;
    color: var(--text-normal);
    background-color: var(--input-background);
    border: none;
    transition: border-color .2s ease-in-out;
    padding: 10px;
    height: auto;
    box-sizing: border-box;
    border-color: var(--deprecated-text-input-border-hover);
    resize: none;
}

/* Settings - Buttons */
#settings-content .buttons {
    line-height: 1;
    user-select: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
    outline: 0;
    display: flex;
    box-sizing: border-box;
}

#settings-content .buttons button.normal {
    font-family: var(--font-primary);
    outline: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-2);
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 16px;
    user-select: none;
    transition: background-color var(--custom-button-transition-duration) ease, color var(--custom-button-transition-duration) ease;
    height: var(--custom-button-button-sm-height);
    min-width: var(--custom-button-button-sm-width);
    min-height: var(--custom-button-button-sm-height);
    width: auto;
    box-sizing: border-box;
    cursor: pointer;
    background-color: var(--button-filled-brand-background);
}

#settings-content .buttons button.normal:hover {
    background-color: var(--button-filled-brand-background-hover);
}

#settings-content .buttons button.remove {
    font-family: var(--font-primary);
    outline: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 16px;
    user-select: none;
    height: var(--custom-button-button-sm-height);
    min-width: var(--custom-button-button-sm-width);
    min-height: var(--custom-button-button-sm-height);
    width: auto;
    margin-left: 4px;
    box-sizing: border-box;
    cursor: pointer;
    color: var(--text-normal);
}

#settings-content .buttons button.remove:hover {
    text-decoration: underline;
}


#settings-content button[id^="button-sect-"] {
    font-family: var(--font-primary);
    outline: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 16px;
    user-select: none;
    transition: background-color var(--custom-button-transition-duration) ease, color var(--custom-button-transition-duration) ease;
    height: var(--custom-button-button-sm-height);
    min-width: var(--custom-button-button-sm-width);
    min-height: var(--custom-button-button-sm-height);
    width: auto;
    box-sizing: border-box;
    cursor: pointer;
    color: var(--white-2);
    background-color: var(--button-positive-background);
    align-self: center;
    margin: 10px auto;
}

#settings-content button[id^="button-sect-"]:hover {
    background-color: var(--button-positive-background-hover);
}

/* Settings - Custom Option Buttons */
.optionButton.positive {
    background: var(--button-positive-background);
    color: var(--status-positive-text);
}

.optionButton.danger {
    background: var(--button-danger-background);
    color: var(--status-danger-text);
}

.optionButton.danger:hover {
    background: var(--button-danger-background-hover);
}

.optionButton.secondary {
    background: var(--button-secondary-background);
    color: var(--button-secondary-text);
}

.optionButton.secondary:hover {
    background: var(--button-secondary-background-hover)
}

.optionButton.warning {
    background: var(--status-warning-background);
    color: var(--status-warning-text);
}

.optionButton.alert {
    background: #ff9900;
    color: var(--status-warning-text);
}

.optionButton.info {
    background: #4a90e2;
}

.optionButton.streamer_mode {
    background: #9147ff;
}

.optionButton.spotify {
    background: #1db954;
}

.optionButton.playstation {
    background: #1db954;
}

.optionButton.neutral {
    background: var(--background-accent);
}

.optionButton.lurking {
    background: var(--brand-600);
}

.optionButton.nitro {
    background: var(--custom-premium-colors-premium-gradient-tier-0);
}

.optionButton.nitro2 {
    background: var(--custom-premium-colors-premium-gradient-tier-1);
}

.optionButton.nitro3 {
    background: var(--custom-premium-colors-premium-gradient-tier-2);
}

.optionButton.brand {
    font-family: var(--font-primary);
    outline: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-2);
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 16px;
    user-select: none;
    transition: background-color var(--custom-button-transition-duration) ease, color var(--custom-button-transition-duration) ease;
    height: var(--custom-button-button-sm-height);
    min-width: var(--custom-button-button-sm-width);
    min-height: var(--custom-button-button-sm-height);
    width: fit-content;
    box-sizing: border-box;
    cursor: pointer;
    background-color: var(--button-filled-brand-background);
    margin-top: 10px;
    margin-bottom: -15px;
}

.optionButton.brand:hover {
    background-color: var(--button-filled-brand-background-hover);
}

.optionButton:hover {
    background-color: var(--bg-mod-subtle);
}

/* Settings - Toggle Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: auto;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--disabled);
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--white-2);
    border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--status-positive);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--status-positive);
}

input:checked+.slider:before {
    transform: translateX(26px);
}

/* Container for items inside toggle options */
.toggle-container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    gap: 4px 12px;
    width: 100%;
    max-width: 100%;
    min-width: 0;
    align-items: center;
}

.toggle-container.disabled * {
    cursor: not-allowed;
}

.label-text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-normal);
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    margin-top: 10px;
}

.toggle-container p {
    font-size: 12px;
    color: var(--text-muted);
    grid-column: 1 / span 1;
    grid-row: 2;
    margin-top: 0px;
}

.switch {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    white-space: nowrap;
    width: 60px;
    height: 34px;
    min-width: 60px;
    max-width: 60px;
    overflow: hidden;
}

/* end of Container for items inside toggle options */

/* slider */
.inputSlider {
    appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 4px;
    background: linear-gradient(90deg, var(--control-brand-foreground-new) 0%, var(--interactive-muted) 0%);
    cursor: pointer;
    margin-top: 15px;
}

.inputSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 3px;
    width: 10px;
    height: 24px;
    margin-left: -5px;
    top: 30%;
    border-radius: 3px;
    background-color: var(--white-2);
    border: 1px solid var(--border-strong);
    box-shadow: var(--shadow-border), var(--shadow-ledge), var(--shadow-low);
    cursor: ew-resize;
}

.inputSlider::-moz-range-thumb {
    border-radius: 3px;
    width: 10px;
    height: 24px;
    margin-left: -5px;
    top: 30%;
    border-radius: 3px;
    background-color: var(--white-2);
    border: 1px solid var(--border-strong);
    box-shadow: var(--shadow-border), var(--shadow-ledge), var(--shadow-low);
    cursor: ew-resize;
}

/* slider end */

/* radio */
.radiogroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}
.radio-btn input[type="radio"] {
    position: absolute;
    left: 0;
    opacity: 0;
    pointer-events: none;
}
.radio-btn .radio-circle { /* Outer Circle */
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid var(--interactive-normal);
    transition: background-color 0.2s, border-color 0.2s;
}
.radio-btn input[type="radio"]:checked+.radio-text+.radio-circle { /* Outer Circle if item is selected */
    border: 2px solid var(--interactive-active);
}
.radio-btn .radio-circle::after { /* Inner Circle */
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: var(--interactive-active);
    top: 2.5px;
    left: 2.5px;
    opacity: 0;
    transition: opacity 0.2s ease;
}
.radio-btn input[type="radio"]:checked+.radio-text+.radio-circle::after { /* Inner Circle when selected */
    opacity: 1;
}
.radio-btn input[type="radio"]:checked+.radio-text { /* Text on selected */
    color: var(--interactive-active);
}
.radio-btn:hover .radio-text { /* Text on hover */
    color: var(--interactive-hover);
}
.radio-btn .radio-text { /* Text */
    font-size: 14px;
    color: var(--interactive-normal);
    transition: color 0.2s ease;
    font-family: inherit;
    margin-left: 30px;
}
.radio-btn:has(:checked) { /* Selected item background */
    background-color: var(--background-modifier-selected);
}
.radio-btn:not(:checked):hover { /* Hovered item background */
    background-color: var(--background-modifier-hover);
}
.radio-btn { /* Item background */
    position: relative;
    padding: 10px;
    display: flex;
    background: var(--background-secondary);
    align-items: center;
    cursor: pointer;
    transition: background 0.2s ease;
}
/* radio end */

/* color input */
input[type="color"] {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    width: 69px;
    height: 50px;
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
    outline: 0;
    margin-top: -20px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 4px;
}
.color-picker .color-icon {
    position: absolute;
    top: -25%;
    left: 200%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    font-size: 14px;
}
.color-picker {
    position: relative;
    width: 28px;
    height: 28px;
}
/* end of color input */

.disabled {
    opacity: 50%;
}

input[data-force-disabled]+.slider {
    cursor: not-allowed !important;
}

input[data-force-disabled]:checked+.slider {
    background-color: var(--disabled);
}

/* MOBILE ONJLY STYLES */
#sidebarToggle {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 9999;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

#close-settings-btn_mobile {
    display: none;
    position: absolute;
    color: var(--interactive-normal);
    top: 26px;
    right: 26px;
    z-index: 9999;
    background: none;
    border: none;
    line-height: 1;
    user-select: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
    outline: 0;
    justify-content: center;
    align-items: center;
    flex: 0 0 30px;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    cursor: pointer;
    color: var(--interactive-normal);
    box-sizing: border-box;
}

@media (max-width: 768px) {
    #close-settings-btn_mobile {
        display: flex;
    }

    .close-container {
        display: none;
    }

    #sidebarToggle {
        display: block;
    }

    #settings-sidebar {
        max-width: 100%;
        width: 100%;
        text-align: center;
    }

    #settings-sidebar:not(.hide)+#settings-content {
        display: none;
    }

    #settings-content h2 {
        position: relative;
        left: 10px;
        top: -2.9%;
        text-align: center;
    }

    #settings-sidebar.hide {
        display: none;
    }

    #version-info {
        position: relative;
        top: -3vw;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .socialLinks {
        position: relative;
        top: 2vw;
        left: 0;
    }
}