@import "base/variables-dark.css"; @import "base/variables-light.css"; @import "base/variables-darker.css"; @import "base/variables-midnight.css"; 

@import "base/variables-dark-refresh.css"; @import "base/variables-light-refresh.css"; @import "base/variables-darker-refresh.css"; @import "base/variables-midnight-refresh.css"; 

@import "base/variables-gradients.css";

@import "base/clientThemeOffsets.css";
@import "base/fonts.css";
@import "base/reset.css";

@import "layout/high-contrast.css";

@import "layout/layout.css";
@import "layout/loading.css";

@import "components/media.css";
@import "components/media-vid-aud.css";
@import "components/media-text.css";
@import "components/autocomplete.css";
@import "components/embeds.css";
@import "components/markdown.css";
@import "components/hljs.css";
@import "components/messages.css";
@import "components/dividers.css";
@import "components/reactions.css";
@import "components/plugins.css";
@import "components/replies.css";
@import "components/context-menu.css";
@import "components/hover-menu.css";
@import "components/editing.css";
@import "components/emoji.css";
@import "components/tooltips.css";
@import "components/settings.css";
@import "components/buttons.css";
@import "components/input.css";

@import "12633.4b47d0f658ccba94.css"; /* DISCORD"S ACTUAL STYLES FOR MAXIMUM COMPATIBILITY */